[2018-09-26 06:12] Pacu2 commented on #2829
@axce1 That's great! We always encourage to open pull requests as soon as possible, so we can work on them together and eventually propose minor improvements earlier.

[2018-09-26 08:09] #2969 closed

[2018-09-26 08:56] khalibloo opened #2972 "Need Cart Management Mutations in GraphQL"
### What I'm trying to achieve
I'm building a custom storefront using React and the GraphQL API. I cannot find a mutation that allows one to add/edit/remove a product to cart. Mutations that would create/edit/delete `OrderLine` data structures, basically.
On a related note, how would checkout be handled on the GraphQL API?

### Other solutions I've tried and won't work
Storing the cart on the Reac

[2018-09-26 08:59] Pacu2 commented on #2972
There's a branch `checkout-2.0` which might be worth checking, as checkout mutations are kept in there.

[2018-09-26 09:00] khalibloo commented on #2972
Thanks very much, I'll have a look.

[2018-09-26 09:20] dominik-zeglen opened #2973 "Product type mutations should be able to reset charge_taxes flag"
### What I'm trying to achieve
To create product type, that wouldn't be charged with taxes.

### Steps to reproduce the problem
1. Execute `productTypeCreate` mutation and set `taxRate: null`
2. Get an error

### What I expected to happen
To mutation pass successfully.

[2018-09-26 10:33] Pacu2 commented on #2967
@marcingebala should we change update mutation as well?

[2018-09-26 10:42] maarcingebala commented on #2967
I think we should do that only in the "create" mutation. "Update" mutation is more problematic because you would have to always pass the whole list of attributes; also, if you accidentally passed an empty list you'd remove all values. Take a look at `MenuCreate` and `MenuUpdate`, we did a similar change there recently.

[2018-09-26 11:15] khalibloo commented on #2972
Great, the `checkout-2.0` branch has the cart management mutations I was looking for.

[2018-09-26 11:15] #2972 closed

[2018-09-26 11:42] Pacu2 opened #2974 "Consider dropping 'slug' off AttributeValue"
I couldn't find what we are using `slug` in `AttributeValue` for.
I think we could easily drop it, that's not `unique` value anyway, as on `AttributeValue` we keep `name` and `attribute` as `unique_together`

[2018-09-26 11:55] Pacu2 opened #2975 "Slugs should be validated in mutations"
Nvm my bad
_At this moment it's possible to objects, with an invalid slug in the mutations.

As a matter of facts, it was not possible to change the slug in the old dashboard. We should either drop if from the mutations or add validation.

From the other side, Client might not need to know what makes a valid Django's slug._

[2018-09-26 11:56] #2975 closed

[2018-09-26 13:07] #2923 closed

[2018-09-26 15:56] EduardoZepeda commented on #2642
I'm having the same issue, I just followed the docs. I have checked the dir owner and it all seems correct. Has anyone managed to solve it?

[code]

[2018-09-26 18:07] Pacu2 commented on #2960
This issue is about turning product_attributes and variant_attributes on product type into a list.

[2018-09-27 07:54] #2967 closed

[2018-09-27 07:55] #2748 closed

[2018-09-27 07:56] #2745 closed

[2018-09-27 07:57] #2819 closed

[2018-09-27 08:09] #2137 closed

[2018-09-27 09:09] maarcingebala commented on #2973
@dominik-zeglen To make it clear - tax rate type is only used as a default that would later be passed to the Product instance when creating products of this type. Produt type itself doesn't decide whether to charge taxes or not. I see on the mockups that there is such checkbox, but this is not implemented in the backend. Let's keep only the "tax rate type" selection.

[2018-09-27 10:07] khalibloo commented on #2972
I'm glad there's a pure SPA storefront in development. Storefront 2.0
For my use case, the approach you've described works great. I'll use that approach as well. Thanks a lot for sharing. I'll keep an eye on the progress of the development on `checkout-2.0`.

[2018-09-27 11:52] dominik-zeglen opened #2981 "Add addValues and removeValues arguments to attributeUpdate mutation"
We should be able to do a bulk update of attribute values. I'd like to propose adding `removeValues: [ID!]` i `addValues:[String!]` arguments to `attributeUpdate`.

[2018-09-27 11:53] dominik-zeglen commented on #2594
Blocked by #2981

[2018-09-27 15:06] dominik-zeglen commented on #2865
Seems to be resolved accidentally.

[2018-09-27 15:06] #2865 closed

[2018-09-27 15:11] Pacu2 commented on #2974
Used on the storefront for generating urls

[2018-09-27 15:11] #2974 closed

[2018-09-27 15:28] #2960 closed

[2018-09-27 16:20] #2963 closed

[2018-09-27 17:45] quarkpol opened #2985 "The shipping address information disapears, after adding promo code in checkout form."
The shipping address information disapears, after adding promo code in checkout form.

### Steps to reproduce the problem
1. Add products to cart
2. Click checkout
3. complete shipping address form
4. Add promo code

-- Filled shipping address informations disappears

### What I expected to happen
The completed form with shipping informations remains filed

[2018-09-28 08:46] dominik-zeglen opened #2986 "Use enum as permission code"
### What I'm trying to achieve
Code transparency and type safety.

### Describe a proposed solution
Return `enum` instead of `string` as permission code.

[2018-09-28 08:47] dominik-zeglen commented on #2986
Blocks #2964

[2018-09-28 09:33] #2790 closed

[2018-09-28 12:33] axce1 commented on #2829
@Pacu2 i cant understand how fix tests
can you help me?

travis-ci log: https://travis-ci.com/axce1/saleor/jobs/146880154

[2018-09-28 12:48] Pacu2 commented on #2829
In saleor/graphql/core/types/money there's `TaxRateType` Enum
You could import it to your tests and use it like `TaxRateType.STANDARD.name`
That would do the job

[2018-09-29 13:58] axce1 commented on #2829
@Pacu2 i fix tests but need your review and them i create PR
https://github.com/axce1/saleor/pull/1#issuecomment-425643557

[2018-09-29 16:27] Pacu2 commented on #2829
@axce1 Please create a PR first, so I and other contributors can review it. I think that's the usual workflow we have.

[2018-09-30 12:38] ajostergaard commented on #2804
I'm not sure it's the same error - mine is a little more explicit:

[code]

But, as you'd expect, adding swap helped. :)

[2018-09-30 12:40] detouched opened #2991 "Multiple values for an attribute"
### What I'm trying to achieve
I wonder if an attribute with multiple values for a product would make sense.

Imagine a store selling t-shirts with two-color prints, and each design (which is a product) is available in few color schemes, and the set of color tuples is unique for every product. What I'd want to make available for the customers is when they pick a color (as a regular attribute picke

[2018-10-01 06:38] wubuyun opened #2993 "publish a saleor store on ubuntu and using Apache"
![default](https://user-images.githubusercontent.com/35350235/46273260-2cc25900-c52b-11e8-9cd7-d9d1a38553e0.PNG)
![2](https://user-images.githubusercontent.com/35350235/46273269-321fa380-c52b-11e8-9864-bf9f53530da4.PNG)
![3](https://user-images.githubusercontent.com/35350235/46273292-49f72780-c52b-11e8-832f-185df2edafde.PNG)

varnish  port 80

[2018-10-01 06:44] artursmet commented on #2993
Hello,

It looks like you didn't install the project requirements. Did you executed `pip install -r requirements.txt`?

[2018-10-01 10:06] shadiakiki1986 commented on #1800
Check [django-payments-cod](https://github.com/xtranophilist/django-payments-cod) linked from [here](https://github.com/mirumee/saleor/issues/1110#issuecomment-372625250)

[2018-10-01 10:41] patrys commented on #2993
@wubuyun If you're using a virtualenv to install, make sure you [specify the `python-home=` param to `WSGIDaemonProcess`](https://modwsgi.readthedocs.io/en/develop/user-guides/virtual-environments.html).

[2018-10-01 10:43] maarcingebala commented on #2986
I removed the `blocker` label - let's implement those changes using strings for permission codes and later we'll refactor them to enums.

[2018-10-01 14:33] maarcingebala opened #2995 ""Add product" dropdown sends requests to API on every key press"
The "Add products" autocomplete input sends requests to API on every key press which is very slow and causes half of them to fail.

### Steps to reproduce the problem
1. In the new dashboard go to "Orders" > "Add order" > "Add products".
2. Start typing anything to search for products.
3. In the dev tools console observe how requests are sent on every key press.

# Proposed solution
Use debouncing

[2018-10-01 15:03] dominik-zeglen opened #2996 "Restyle order list page"

[2018-10-01 15:14] dominik-zeglen opened #2998 "Restyle order details page"

[2018-10-01 15:14] #2456 closed

[2018-10-01 15:14] #2964 closed

[2018-10-01 15:42] the-bionic commented on #2998
Is there a way we want the styling to look like? I am available.

[2018-10-01 15:58] maarcingebala commented on #2998
Hey @the-bionic, thanks a lot for your willingness, but @dominik-zeglen is already on it. We have mockups for the new dashboard and we're gradually implementing them.

[2018-10-01 17:04] Pacu2 commented on #2753
I think it's resolved on the latest master

[2018-10-01 17:04] #2753 closed

[2018-10-01 17:05] Pacu2 commented on #2675
Closing for now, please reopen if you have further questions.

[2018-10-01 17:05] #2675 closed

[2018-10-01 17:07] Pacu2 commented on #2757
I think we should stick to `Create`, `Update` and `Delete`, what's more I'm in for `<Entity><Action>` naming, eg. `OrderNoteAdd`, `AttributeValueCreate` etc.

[2018-10-01 18:10] the-bionic commented on #2757
I'm on it.

[2018-10-01 18:30] the-bionic commented on #2757
What do we do in cases where ```<Entity><Action>``` does not apply?

For instance, there is ```OrderUpdateShipping```, should it be refactored to ```OrderShippingUpdate``` even though OrderShipping isn't really an entity?

[2018-10-01 18:45] maarcingebala commented on #2757
Maybe first let's analyze existing names and look for those that we wanted to refactor. I'm not 100% convinced that such strong naming conventions always work, sometimes it may just sound unnatural.

[2018-10-01 18:55] the-bionic commented on #2757
I'll open a PR for review.

[2018-10-02 07:14] lokesh1729 commented on #2995
@maarcingebala I want to take this... can I ???

[2018-10-02 07:16] lokesh1729 commented on #2618
@dominik-zeglen can I take this ???

[2018-10-02 07:17] lokesh1729 commented on #2934
@pauc2 anyone working on this ???

[2018-10-02 08:06] Pacu2 opened #3001 "get_graphql_content util should check if there are errors in content"
I think that we could check for errors in `get_graphql_content` util function, as errors returned at this stage are usually schema-related and I just can't see a situation when one wants to trigger them in tests.

[2018-10-02 08:33] maarcingebala commented on #3001
Agree, that would save one assertion that we write anyway in almost every test.

[2018-10-02 08:56] maarcingebala opened #3003 "Refactor API client in tests"
Calling API in tests requires us to write some repetitive code:
[code]

Both the URL and structure of the data dictionary are the same in every API, so we could adjust the `post` method of our `ApiClient` and have something like:
[code]

We could also experiment with passing permissions to be used for a particular call, e.g.
[code]

## TODO
- [x] New method `post_grapqhl` for simplified query post

[2018-10-02 08:56] Pacu2 commented on #3003
I'll handle it after merging #3002 and #2988 as it will create tons of conflicts

[2018-10-02 08:57] Pacu2 commented on #3003
Also, GraphQL related set up should live in `tests/api/conftest.py`, instead of the regular one.

[2018-10-02 08:58] scottyeung opened #3004 "Bring back 'Wishlist' or 'Mail me when available'"
### What I'm trying to achieve
…
Wishlist feature used to be available last year but went missing in the latest releases

[2018-10-02 09:00] Pacu2 commented on #3004
As far as I remember wishlist was never available, wasn't it?
There were attemps to include it in https://github.com/mirumee/saleor/pull/1120 and https://github.com/mirumee/saleor/pull/737

[2018-10-02 09:01] maarcingebala commented on #3003
We could also try to tackle the problem that we have now three clients: `admin_api_client`, `staff_api_client` and `user_api_client`. I don't know if `admin_api_client` that simulates a superuser is needed at all - we should rather always use the `staff_api_client` and test the proper permissions.

[2018-10-02 09:01] Pacu2 commented on #3004
Regarding the 'Mail me when available' I'm not sure as well if we've supported something like it.

[2018-10-02 09:12] Pacu2 commented on #3003
@maarcingebala I'd drop an admin_api_client to make the folks test the permission each time they're testing

[2018-10-02 09:44] patrys commented on #2757
@artursmet I'd consider "add note" to be action, not subject so "OrderAddNote" and "OrderUpdateShipping" are correct.

[2018-10-02 10:29] maarcingebala commented on #2757
Agree with @patrys - it sounds much more natural.

[2018-10-02 10:37] maarcingebala commented on #3004
They were never available in Saleor, but I'd put both on our features roadmap. It's not our priority for now, but once we stabilize the API, we could get back to implementing new features.

[2018-10-02 10:48] maarcingebala commented on #3004
I've both to the roadmap: https://github.com/mirumee/saleor/projects/6

[2018-10-02 10:48] #3004 closed

[2018-10-02 10:48] #3001 closed

[2018-10-02 10:55] maarcingebala commented on #2995
Hey @lokesh1729, it is unassigned yet so you can give it a try. Please provide a PR and we will review it.

[2018-10-02 11:10] dominik-zeglen opened #3005 "Implement draft order details"

[2018-10-02 15:21] Pacu2 commented on #3003
My proposition is:

- Creating a new post_graphql method that will take 3 arguments: query, variables, and permissions
- If variables are provided, we will call `json.dumps` on them (one less thing to do in every test)
- This method will post to `/api/` by default
- If permissions are provided, we will post the query without permissions, assert no permission error, and post another time with permi

[2018-10-02 16:12] #2981 closed

[2018-10-02 19:46] tomcio1205 commented on #2953
@Pacu2 I can resolve that issue but can you tell me what do you mean by poduct_type tax_rate as placeholder and tax_rate as blanked?

[2018-10-02 20:30] Pacu2 commented on #2953
@tomcio1205 `tax_rate` field's widget should have a [placeholder](https://www.w3schools.com/tags/att_input_placeholder.asp), which should be equal to product's product type tax rate
Then, if no value is provided, product's tax rate should be set to None

[2018-10-03 06:33] Pacu2 commented on #1312
Sorry for the lack of response! I hope your problem is resolved by now, if now please reopen the issue.

[2018-10-03 06:33] #1312 closed

[2018-10-03 06:34] Pacu2 commented on #839
I think this is resolved by now

[2018-10-03 06:34] #839 closed

[2018-10-03 06:38] Pacu2 commented on #1418
I think this is resolved by now Cannot reproduce either

[2018-10-03 06:38] #1418 closed

[2018-10-03 06:39] Pacu2 commented on #1826
I think this is resolved by now.

[2018-10-03 06:39] #1826 closed

[2018-10-03 06:44] Pacu2 commented on #1902
I think this is resolved by now.

[2018-10-03 06:44] #1902 closed

[2018-10-03 07:24] Pacu2 opened #3008 "Turn FulfillmentLines into a list"
I can't imagine a situation where we should paginate fulfillment lines, think that they could be changed into Graphene.List type, same as we did with the Order lines

[2018-10-03 07:39] Pacu2 opened #3010 "Turn MenuItems on menu's API into a List"
I don't think it's necessary to paginate those

[2018-10-03 07:40] Pacu2 opened #3011 "Turn ProductVariant's images into a list in the API"
I don't think it's necessary to paginate them.

[2018-10-03 07:42] Pacu2 opened #3012 "Turn Product's Variants and Images into a list in GraphQL API"
I don't think it's necessary to paginate those.

[2018-10-03 08:22] dominik-zeglen opened #3014 "Add `product` field to OrderLine"
It would enable us to go from order details view to product / variant details, and enable API consumer to use different product name format than `Product (variant)`.

[2018-10-03 08:34] patrys commented on #3014
This field would have to be nullable and I'd like to ask that its description makes it clear that the API client can't depend on the product being returned. We can't and shouldn't use the `product` link to construct a product name like the original comment is seeming to propose. If a better name is desired, it should be assigned to `product_name` as the order needs to reflect the state of the data

[2018-10-03 08:38] maarcingebala commented on #3014
`OrderLine` model has a relation with `ProductVariant` but it's excluded in the GraphQL type. But `product_name` should always contain the right name, as we set that field when creating an order, taking into account the variant's attributes and translations, if they're available.

[2018-10-03 09:37] dominik-zeglen commented on #3014
How about splitting `product_name` into `product_name` and `product_attributes` then?
I don't like the idea of creating product name in backend, because it forces consumer to either use provided format, or parse it on his own.
If not, can we at least provide field containing ProductVariant's ID?

[2018-10-03 09:45] maarcingebala commented on #3014
The idea behind `product_name` field was that any client wouldn't have to worry about manually assembling the simple representation of the ordered item. Why do you need to parse the provided name?

[2018-10-03 09:57] patrys commented on #3014
Consider an order that's been placed a year ago. There's no guarantee that the product (or variant) still exists. There's no guarantee that the price or name are representative of what was purchased two years ago.

As for constructing names in the client I really don't like the idea of the eventual invoice not matching contents of the order as two pieces of software disagree on how a product name

[2018-10-03 10:01] dominik-zeglen commented on #3014
@maarcingebala I'd like to create something like this:
<img width="313" alt="zrzut ekranu 2018-10-03 o 11 55 22" src="https://user-images.githubusercontent.com/6833443/46403842-e2480480-c703-11e8-8fd1-415ff1408b52.png">

[2018-10-03 10:59] #2900 closed

[2018-10-03 11:30] #2650 closed

[2018-10-03 11:30] #3003 closed

[2018-10-03 11:42] f3bruary commented on #2474
What's the progress on this ? Mollie is an absolute MUST for Dutch users.

[2018-10-03 11:47] Pacu2 commented on #3014
I think it's not possible in our current data structure, as `product_name` is created from both, product's and variant's names. We should split it between `product_name` and `variant_name` for each orderline

[2018-10-03 12:48] mociepka commented on #394
It is still unresolved. We could go with normal releases mode with grapql API. What do you think?

[2018-10-03 14:27] maarcingebala commented on #2991
This problem is entirely valid and what you propose totally makes sense. There shouldn't be any problem with handling multiple values in the dashboard, also in the storefront's variant picker, we could render combined values simply as separate choices (e.g. "black", "white", "black/white").

There is one thing that I'm not sure of - we use HStore field to store the attributes which are assigned to

[2018-10-03 16:11] patrys commented on #2991
hstore is a string to string map type so we'd have to switch to JSON. Not sure how that would affect faceted search in the storefront. Custom indexes would be required. Distinct queries are a bit tricky as in JSON both objects and arrays are ordered types so `{"4": ["7", "8"]}` is not the same as `{"4": ["8", "7"]}`.

[2018-10-03 18:12] ashtonhylton commented on #1240
Thanks @amorphic yeah I see your point.

I do want the shop and blog to be more seamless though. I've done this before in php integrating wordpress using the objects provided and generating the blog pages myself.

I think this is quite important for users experience and branding. However if they are separated then i guess its arguably less difficult to make the two feel like the same website than

[2018-10-03 18:26] alexander-sibert opened #3019 "Docker local Dev environment"
Maybe i do it on wrong way.

I cloned by git clone https://github.com/mirumee/saleor.git into my local folder on macOS.
I use Docker Version 18.06.1-ce-mac73 (26764)

Then i tried
docker-compose build web
docker-compose up

But i get following error message at end:
 ---> Running in f1c03944ca9a
Warning: --system is intended to be used for pre-existing Pipfile installation, not installation of spec

[2018-10-03 20:18] dominik-zeglen opened #3020 "Cannot create fulfillment group without specifying tracking number"
### Steps to reproduce the problem
1. Execute the following query without specifying `trackingNumber` in `FulfillmentCreateInput`:
[code]
2. Get an error:
[code]

### What I expected to happen
To successfully create fulfillment group.

[2018-10-03 20:40] maarcingebala commented on #3019
Hey, it's a known bug, it was introduced with recent PRs #3018 and #3015. Until we fix it on `master` you can fix it in your local copy by changing [these lines](https://github.com/mirumee/saleor/blob/master/Dockerfile#L11-L15) to:

[code]

[2018-10-03 23:49] amorphic commented on #1240
@ashtonhylton I totally get your points. In fact since I wrote that comment back in January we're re-thinking it all ourselves.

[2018-10-04 06:27] #2596 closed

[2018-10-04 08:13] maarcingebala commented on #1240
As we are focused now on the transition from classic Django to GraphQL + React clients, adding new features is not our priority. But when the whole platform gets more stable, I think we may get back to this idea and implement blogging functionalities. We already have an app for managing static pages. We would only need to think of better editor for rich-text content, e.g. [draft.js](https://draftj

[2018-10-04 09:55] dominik-zeglen commented on #3008
It makes no sense fulfillment lines being paginated while order lines are flat.

[2018-10-04 10:19] #3020 closed

[2018-10-04 10:50] acrive82 opened #3024 "Missing template for product attributes"
In the dashboard is present the menu link for the product attributes, but the reference template is missing under the directory _templates/dashboard/product/_***product_attribute***

[Screenshot](https://imgur.com/a/VYmxZAo)

**System information**
Operating system: Linux
Browser: Firefox

[2018-10-04 10:56] #2864 closed

[2018-10-04 11:13] Pacu2 commented on #3024
Thanks for reporting in, I've missed it in Attributes refactor in #2969

[2018-10-04 11:25] Pacu2 opened #3027 "Test no result view on attributes"
We should add a test, to check if no result dashboard view on attributes is handled properly.
Related:
#3024
#3026

[2018-10-04 13:09] alexander-sibert commented on #3019
Thanks now i get following message: Could not open requirements file: [Errno 2] No such file or directory: '/app/requirements_dev.txt'

[2018-10-04 13:17] maarcingebala commented on #3019
My mistake - you should also add `ADD requirements_dev.txt /app/` before those `RUN` commands.

[2018-10-04 13:31] Pacu2 opened #3031 "Make Meta description required for the BaseMutations"
I think we should force developers to describe what their APIs are doing.

[2018-10-04 13:38] alexander-sibert commented on #3019
Thanks and then i run Docker env with: docker-compose up?

[2018-10-04 13:44] maarcingebala commented on #3019
Yep, that should work 🤞

[2018-10-04 13:55] alexander-sibert commented on #3019
It seems run with some errors:

npm WARN saleor@0.0.0 No description
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.4 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.4: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})

added 2930 packages from 1343 contributors and audited 73236 packages

[2018-10-04 13:57] maarcingebala commented on #3019
Aren't those just NPM warnings? I think they shouldn't affect the build.

[2018-10-04 13:59] alexander-sibert opened #3033 "Odoo API Integration"
Odoo ERP System (Hosted/Self-hosted and Open-Source solution) is based on Python and works with Hardware Barcode-Scanners, Banks, APIs for tax etc.

https://www.odoo.com/

It would be awesome to have a API in Core to this solution.

[2018-10-04 14:00] alexander-sibert commented on #3019
Yep, that is what i mean, it makes no sense ;)

[2018-10-04 14:15] joshuacox commented on #3019
Does someone have a working branch?  I attempted a hotfix as described here in this thread, but I still get:

[code]

[2018-10-04 14:41] Pacu2 commented on #3019
@joshuacox We are actively working on the solution, hope it will be live soon.

[2018-10-04 14:44] joshuacox commented on #3019
@Pacu2 I've got a fix in as well, I'll make a PR if it helps.

[2018-10-04 15:00] joshuacox opened #3037 "SSO / LDAP"
### What I'm trying to achieve

use a centralized identity server to connect saleor users with other services.

### Describe a proposed solution

integrate https://pypi.org/project/django-auth-ldap/

### Other solutions I've tried and won't work

I'm actively looking for solutions and was wondering if someone had already conquered this issue.

[2018-10-04 15:06] maarcingebala commented on #3019
Should be fixed by #3035

[2018-10-04 15:06] #3019 closed

[2018-10-04 15:09] maarcingebala commented on #3037
We did integration with LDAP in one of our projects based on Saleor some time ago and everything worked fine. We had to use the `django_auth_ldap.backend.LDAPBackend` as authentication backend and customize it a bit to the specific business rules we had.

[2018-10-04 15:09] #2996 closed

[2018-10-04 15:14] daltonsena opened #3038 "Enable DEBUG option for build docker image"
### What I'm trying to achieve

In some cases it may be interesting to be able to build the docker image with the development dependencies.

For example if I want to have a development environment not only on a local machine but also posted on some server.

I am not a docker master but I understand that if the image is not built with the development dependencies it will not be possible run the con

[2018-10-04 16:58] joshuacox commented on #3037
Are there any components from your previous project you plan on integrating back into Saleor overall?

Notes that might be useful if I or anyone else ends up implementing this:

Poking around it looks like the [account backends](https://github.com/mirumee/saleor/tree/master/saleor/account/backends)
which use the [social-auth-core](https://github.com/python-social-auth/social-core/tree/master/socia

[2018-10-04 19:35] #3027 closed

[2018-10-04 19:37] karimation opened #3041 "Error build-assets: `webpack -p`"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'build-assets' ]
2 info using npm@3.5.2
3 info using node@v8.10.0
4 verbose run-script [ 'prebuild-assets', 'build-assets', 'postbuild-assets' ]
5 info lifecycle saleor@0.0.0~prebuild-assets: saleor@0.0.0
6 silly lifecycle saleor@0.0.0~prebuild-assets: no script for prebuild-assets, continuing
7 info lifecy

[2018-10-04 19:39] the-bionic commented on #3041
Try updating your node/npm. I'd suggest this be added to the docs, as well.

[2018-10-04 19:40] Pacu2 commented on #3041
Could you please upgrade to nodejs 10+ and check how it goes?

[2018-10-04 19:40] Pacu2 commented on #3041
@the-bionic I think that all of the docs state, that one should use NodeJS 10 or newer

[2018-10-04 19:45] the-bionic commented on #2986
Please, how can I locate where the permission codes are?

[2018-10-04 19:47] the-bionic commented on #3041
@Pacu2, alright. I've seen too many of this issue. I fell for it, too.

[2018-10-04 20:44] Pacu2 commented on #2986
@the-bionic permissions are obtained via `get_permissions()` helper function (it only gets the ones we are using)

[2018-10-04 20:57] ProgrammingJoe opened #3042 "Django debug toolbar errors on 'python manage.py migrate' during installation"
### What I'm trying to achieve
I was using the installation instructions for Linux here: https://saleor.readthedocs.io/en/latest/gettingstarted/installation-linux.html

I got stuck at step 7 `python manage.py migrate` with the errors

`ImportError: No module named 'debug_toolbar'`
and
`ImportError: No module named 'ddt_request_history'`

### Steps to reproduce the problem
1. Follow the steps here:

[2018-10-04 21:05] Pacu2 commented on #3042
The problem is, we've moved both of the packages into the `requirements_dev.txt`, while they should stay inside of `requirements.txt`

[2018-10-04 21:53] ProgrammingJoe commented on #3042
Do you want them to be in `requirements_dev.txt` and `requirements.txt` or just `requirements.txt`.

Cool, I'll create a PR in a little while!

[2018-10-04 21:57] Pacu2 commented on #3042
I think just the `requirements.txt` is fine

[2018-10-05 05:28] jxltom commented on #3042
Maybe just update the docs about ```pip install requirements_dev.txt``` if saleor needs running for development?

```requirements.txt``` needs to be installed for production server. Including dev packages may cause security and performance issues.

[2018-10-05 06:01] jxltom commented on #3042
@ProgrammingJoe Or you could just ```export DEBUG=False``` to enable production mode, which does not needs intalling ```requirements_dev.txt```. 😃

[2018-10-05 06:17] ProgrammingJoe commented on #3042
Yeah, good point actually. I'll adjust my PR to make that change to the docs and I'll revert the requirements change.

[2018-10-05 09:13] patrys commented on #3042
@jxltom @ProgrammingJoe Please move them to regular requirements. They _are_ imported by the codebase even if it depends on a specific environment variable. Dev dependencies should be stuff that never makes it to a server like the `ipython` console or some linting tools.

[2018-10-05 09:34] patrys commented on #2680
@Pacu2 Not sure what is the scope of work here?

[2018-10-05 09:37] NyanKiyoshi commented on #3024
@pacu2 you can close this.

[2018-10-05 09:38] #3024 closed

[2018-10-05 09:54] karimation commented on #3041
@the-bionic  you are right.

[2018-10-05 10:02] Pacu2 commented on #3041
@karimation Is it resolved?

[2018-10-05 11:54] karimation commented on #3041
@Pacu2  yes.

[2018-10-05 11:56] Pacu2 commented on #3041
Glad to see this resolved.

[2018-10-05 11:56] #3041 closed

[2018-10-05 13:31] #3038 closed

[2018-10-05 14:01] maarcingebala commented on #2641
I cannot reproduce this issue, it might have been a temporary problem with webpack build.

[2018-10-05 14:01] #2641 closed

[2018-10-05 14:02] joshuacox opened #3049 "FileNotFoundError: [Errno 2] No such file or directory: '/app/saleor/static/assets'"
### What I'm trying to achieve

docker-compose run web python3 manage.py collectstatic

### Steps to reproduce the problem
1.  clone saleor
1. docker-compose build
1. docker-compose run web python3 manage.py migrate
1. then:
[code]

### What I expected to happen

not certain, but looking in that directory there is no `assets`:

[code]

**System information**
Operating system:  Docker on Arch Linux

[2018-10-05 14:06] patrys commented on #3049
I think that's caused by the current working dir being mounted at `/app` inside the container by docker-compose. It's done for convenience so that modifying code won't require the image to be rebuilt but it ends up shadowing the static file directory that is built as part of image construction.

[2018-10-05 15:14] #2998 closed

[2018-10-05 15:14] #3005 closed

[2018-10-05 15:16] maarcingebala commented on #2539
Closed via #3022

[2018-10-05 15:16] #2539 closed

[2018-10-05 15:29] maarcingebala opened #3051 "Order details page error: shippingAddress is null"
Order details page fails with error:

[code]

### Steps to reproduce the problem
1. Create an order through the storefront, adding a product that doesn't require shipping.
2. Go to the new dashboard and see details page of this order.

In the case above only billing address is available, but shipping address is `null` and is not required at all.

[2018-10-05 15:31] patrys commented on #3051
This should result in a new storybook entry.

[2018-10-05 16:11] maarcingebala opened #3053 "Optimize updating variant names when attribute changes"
Function `saleor.graphql.product.utils.update_variants_names` is meant to update variant names e.g. when product attributes changes within a product type ( used for example in `productTypeUpdate` mutation). The problem is that if we have a lot of variants it gets terribly slow (I've tested with ~800 variants). We should think if we can optimize this function somehow, as it causes noticable lags in

[2018-10-05 16:12] patrys commented on #3053
Should this become a Celery task?

[2018-10-05 18:34] the-bionic commented on #2986
I'm sorry, I missed this. I picked another ticket. When I finish with that and this is still open, I'll pick it up.

[2018-10-05 20:46] NyanKiyoshi commented on #2673
Opened a PR for this because the pipenv lock file diff is quite ugly :wink:

---

@patrys we spoke a while ago about providing the pre-compiled mjml templates instead of requiring the user to compile them. Do we go for it?

[2018-10-05 22:09] joshuacox commented on #3049
@patrys  do you know the preferred method for making that directory?

This is the incorrect method:

[code]

as this seems hackish, but those are the steps I got it working with.

Are these directories not created properly by a script somewhere?

Perhaps a step is missing here:
https://saleor.readthedocs.io/en/latest/customization/docker.html

[2018-10-06 15:51] swasher commented on #2642
I got same error. But I think I could find trick around.
I create two subdirectory `saleor\static\assets` and `static` in `saleor` dir. After it error dissapear.

[2018-10-06 19:25] quarkpol opened #3056 "when choosing shipping method, shipping price isn't include in total price."
Include shipping price in total price, or add new label "total price with shipping", when choosing shipping method.

I use js script to read shipping method price and change total price label, but this solution seems not ot  be elegant enough.

[2018-10-06 19:34] EdwinNyamao commented on #2642
For me it still is complaining of permission denied when I run  collectstatic.

edwin@edwin-Aspire-5736Z:~/saleor$ docker-compose run web python3 manage.py collectstatic
Starting saleor-elasticsearch ... done
Starting saleor-postgres      ... done
Starting saleor-redis         ... done
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.arg

[2018-10-07 16:10] Rabia23 commented on #2066
Can anyone please tell me which password do I need to enter in the screen?
Thanks

<img width="1008" alt="screen shot 2018-10-07 at 9 09 15 pm" src="https://user-images.githubusercontent.com/13939335/46583793-6d632a80-ca75-11e8-90bf-3a3870922e2c.png">

[2018-10-07 16:16] Pacu2 commented on #2066
The oauth2  web application credentials, that you can generate in the Google API Console.

[2018-10-07 16:39] Rabia23 commented on #2066
Thank you @Pacu2

[2018-10-07 16:49] Rabia23 opened #3058 "Order completion, feedback, review, and ratings system"
Can we track our order and give rating, review, and feedback on order?

[2018-10-07 16:52] Pacu2 commented on #3058
That's not possible at this moment, however, there's a possibility to send an automated email with the tracking code to the customer, but it needs to be provided manually

[2018-10-07 17:11] Rabia23 commented on #3058
@Pacu2 can you please guide me through the steps that how can we provide it manually?

[2018-10-07 17:43] Pacu2 commented on #3058
On the dashboard, in the order section, you can add a tracking number while fulfilling the order

[2018-10-07 18:38] ajostergaard commented on #2935
@Pacu2 if already handled why "help wanted" and "hacktoberfest"? :-S

[2018-10-07 18:42] ajostergaard commented on #2935
Also, not duplicate of #2934? Or is it one for shop and one for dashboard? Sorry but not clear from tickets.

[2018-10-07 18:46] Pacu2 commented on #2934
@lokesh1729 As far as I'm oriented - not really. If you want to pick it up, that would be awesome

[2018-10-07 18:48] Pacu2 commented on #2935
@ajostergaard We are developing the new dashboard called Dashboard 2.0 at this moment (it's pre-beta), you can check out the dashboard 2.0 at `/dashboard/next/`
The ticket you've linked, #2934, threats the ReactJS part of the functionality on the new dashboard.

The bug mentioned in this ticket is present in the regular dashboard. (available at `/dashboard/`)

[2018-10-07 18:53] ajostergaard commented on #2904
I'd like to pick this one up but @maarcingebala need clarification on requirement please.

Not sure requiring git to be installed on production instances is a good idea so perhaps rather update the static __version__ string as part of release packaging? If so am perhaps not best placed for this issue after all.

[2018-10-07 18:57] ajostergaard commented on #2935
Ok - thanks. I'll pick this up and resolved in current dashboard in the next couple of days.

[2018-10-07 19:05] Pacu2 commented on #2935
Glad to hear that, I took the labels off, for now

[2018-10-07 20:45] MartinSeibert commented on #2749
What would we want the alt text to be? The icon is next to a navigation link for Your Cart and below/to the left of the cart counter badge, so maybe it should say "Items"?

[2018-10-07 21:16] MartinSeibert commented on #2749
Created a pull request at https://github.com/mirumee/saleor/pull/3060 adding an alternative text of "Items"

[2018-10-08 06:51] Rabia23 commented on #3058
Thank you @Pacu2 :)

[2018-10-08 07:19] #3058 closed

[2018-10-08 07:33] maarcingebala commented on #2572
Hey, we could entirely remove generating value for `quantity_allocated` field in the `create_variant` function. I don't think that this is particularly useful to anyone.

[2018-10-08 07:35] #2733 closed

[2018-10-08 07:40] maarcingebala commented on #2066
Hey @Rabia23, did you resolve your problem? If I'm correct you should set the App ID in the "Key" input and App secret in the "Password" field. Let me know if that worked for you.

[2018-10-08 07:58] Rabia23 commented on #2066
@maarcingebala when I add the facebook OAuth credentials then it redirects me to the following screen.
<img width="1235" alt="screen shot 2018-10-08 at 12 54 52 pm" src="https://user-images.githubusercontent.com/13939335/46597451-8b726e80-caf9-11e8-9dce-e69e092752a6.png">

Seems like we don't have a write access on the admin dashboard in demo site. What should I do now?

[2018-10-08 07:59] lokesh1729 commented on #2934
@Pacu2 okay, I will try my best.

[2018-10-08 08:49] patrys commented on #2066
@Rabia23 We do not allow random people to change the configuration of demo.getsaleor.com. You will need to run your own (local) store to play with configuration.

[2018-10-08 08:50] Rabia23 commented on #2066
Thankyou @patrys. I'll setup it locally.

[2018-10-08 08:57] Pacu2 commented on #2066
@maarcingebala This issue regards adding docs for this feature, I think we should keep it open

[2018-10-08 09:37] dominik-zeglen opened #3063 "`attributeCreate` should be able to add attribute to product type"
### What I'm trying to achieve
To create an attribute and add it to some product type in one mutation.

### Describe a proposed solution
Add `productType: ID` and `variantAttribute: Boolean` fields to `attributeCreate` mutation.

[2018-10-08 09:37] dominik-zeglen commented on #2594
Blocked by #3063

[2018-10-08 10:03] dominik-zeglen commented on #2995
Hi @lokesh1729, any luck implementing debounce on this widget?

[2018-10-08 10:09] patrys commented on #2673
I think that would be a nice thing to have as unlike compiled CSS/JS these files are not particularly large. @maarcingebala?

[2018-10-08 10:15] maarcingebala commented on #2673
I agree, email templates change rarely, so we could keep the generated versions in the repository. Also, it would save one step in project setup.

[2018-10-08 10:48] #3051 closed

[2018-10-08 12:13] Pacu2 opened #3065 "Draft Order Mutations should check if chosen shipping method is still valid"
On every significant change in Draft Order via mutations (eg. add the product, delete the product, change the quantity, change shipping address...)  we should check if assigned shipping method is still valid for the updated order.

[2018-10-08 12:20] Pacu2 opened #3066 "Validate Addresses in mutations"
All mutations that allow a new address set up, should also validate if the new address is the correct one.

[2018-10-08 12:22] patrys opened #3067 "Use Draft.js + Draftail to handle rich text fields"
### What I'm trying to achieve
We currently use Medium Editor for basic rich text features. We'd love to have something easier to style (not storing HTML in the database).

### Describe a proposed solution
I propose that we use [Draft.js](https://draftjs.org/) to handle the editing and rendering aspect in React apps (dashboard and the new storefront). For Django views we can use [Draftail](https:/

[2018-10-08 12:29] lokesh1729 commented on #2995
@dominik-zeglen nope, not finding time... will spend this week

[2018-10-08 14:15] tomcio1205 commented on #1511
@dominik-zeglen, @Pacu2 I tested it right now and with Safari 12.0 it working well, so I don't know if this problem still exists

[2018-10-08 17:27] aventurella commented on #2545
I'm getting the same issue.

It won't even build with `webpack-cli 2.1.5` So I bump that to `3.1.2` then it tries to build, but it throws the error above.

[code]

Also when I blow away `node_modules` and try my hand at it again from a clean slate I sometimes get error like this:

[code]

[2018-10-08 17:37] tomcio1205 commented on #1585
@Pacu2 I will try to fix this

[2018-10-08 20:07] ctailo commented on #2152
How does someone import CSV files into Saelor? I have a number of products that I would like to import into Saelor, and it would be great to know how to do this.

[2018-10-08 20:30] Pacu2 commented on #2152
Unfortunately at this moment we should no out-of-the-box solution ready

[2018-10-08 20:35] ctailo commented on #2152
Thanks for this information. How would I go about importing a CSV file then? One alternative that I thought about doing was to import it into the application in general. I am planning on adding Saleor to a Django project that will have other apps and I would like to use those products in the other apps.

Is there a way to include the products from the CSV in Saleor as well?

[2018-10-08 20:37] ctailo opened #3075 "Two Sided Marketplace?"
Hello. Thanks so much for all of the work that you have all done with Saleor. I am relatively new to Django programming and am writing to respectfully ask if it is possible to modify Saleor for a two-sided marketplace. If so, I would greatly appreciate it if you could please shared advice with me about how to do this. Thank you.

[2018-10-08 20:46] Pacu2 commented on #2152
I think you might add an appropriate section in the dashboard, and the import itself could be handled asynchronously via Celery task.

[2018-10-08 20:58] ctailo commented on #2152
Thank you. What about a two sided marketplace. How would I do that with Saleor. Is it possible? Also, is it possible to include reviews and wishlists with Saleor?

[2018-10-09 05:43] shadiakiki1986 commented on #1666
Thanks for the great effort! I'm trying to mirror my saleor site with `wget -mk https://my-saleor-site`, but wget isn't downloading the images because they're lazy-loaded. Is there any config setting that I can flip to disable lazy loading of images? e.g. a webpage setting such that `npm build-assets` no longer lazy loads images?

[2018-10-09 06:15] neeraj1909 opened #3077 "fix: replace COUNTRIES with countries.countries"
### What I'm trying to achieve
I was using your open source project to develop a store website. You have used the "django-countries" as a third party app.
Instead of importing COUNTRIES , we should import countries in the file "saleor/account/i18n.py".

### Steps to reproduce the problem
1. replace from django_countries.data import COUNTRIES by from django_countries import countries
2. replace for

[2018-10-09 06:41] neeraj1909 commented on #3077
I want to work on this issue. Please give the access rights.
![country_issue](https://user-images.githubusercontent.com/20766288/46651067-73afee80-cbbc-11e8-8b8f-468362acabab.png)

[2018-10-09 06:50] shadiakiki1986 commented on #1666
Using jquery as I had suggested above doesn't work with wget because it doesn't trigger javascript code.

What I did instead was install the [nginx substitution filter](https://www.nginx.com/resources/wiki/modules/substitutions/) (I'm serving the saleor site through nginx), replace all `data-src` with `src` with the following addition to the `location` tag in nginx

[code]

and then just re-run th

[2018-10-09 06:58] Pacu2 commented on #3077
@neeraj1909 Glad that you want to pick it up. Please fork the Saleor, create a branch on your local fork and then open a pull request to mirumee/saleor's master.

[2018-10-09 07:03] Pacu2 commented on #3077
So this problem persists only in places where we've imported `COUNTRIES` instead of `countries`.
In such case, if one wants to modify the countries list by settings provided by the django-countries package (eg. `COUNTRIES_ONLY = ['NZ', 'AU']`), the countries' list is invalid.

[2018-10-09 08:17] #3042 closed

[2018-10-09 08:47] #1585 closed

[2018-10-09 08:53] NyanKiyoshi commented on #2485
@maarcingebala it only requires to install `sphinx` and `sphinx-rtd-theme`, unless I'm missing a feature.
So we could quickly do that.

[2018-10-09 09:09] #3063 closed

[2018-10-09 09:12] maarcingebala commented on #2485
Now I see that I misunderstood your original comment, I was thinking about the docs build which happens on ReadTheDocs. But you're right, we could add those two requirements as well.

[2018-10-09 10:19] neeraj1909 commented on #3077
Yes, this problem persists only in places where we've imported
COUNTRIES instead
of countries.
I am creating the PR.

On Tue, Oct 9, 2018 at 12:33 PM Filip Kucharczyk <notifications@github.com>
wrote:

[2018-10-09 10:28] #3031 closed

[2018-10-09 10:48] maarcingebala opened #3080 "Mutations to mange authorization keys"
Add mutations to add/remove authorization keys.

[2018-10-09 12:18] Pacu2 commented on #3077
I think this was resolved in #3079

[2018-10-09 12:18] #3077 closed

[2018-10-09 13:02] Pacu2 opened #3081 "Validate for items with no quantity in Checkout mutations"
At this moment it's possible to create a CheckoutItem / Checkout with items with no quantity.

[2018-10-09 13:42] tomcio1205 commented on #2200
@Pacu2 I try to fix that

[2018-10-09 14:20] NyanKiyoshi commented on #2200
Oh wow that's old, that just a little check to do here if I recall correctly. I never opened a pull request for it, weird.
https://github.com/mirumee/saleor/blob/2a5e3e7114471ce4bb93ab2edb0b2005cf0e10f2/saleor/core/views.py#L33-L40

Thanks @tomcio1205 for picking this up! (I'm swamped by work so I only will have time to review your PR).

[2018-10-10 00:07] MartinSeibert commented on #2572
Okay. I'm gonna do that and put a pull request in.

[2018-10-10 00:29] MartinSeibert commented on #2572
I put the pull request in... I hope I did it right. I had a fork made and added the master as an upstream so that I could get my fork back up to the master... and then when I pushed to my branch it also pushed it to the original master.

[2018-10-10 07:03] #3080 closed

[2018-10-10 07:05] quarkpol opened #3085 "Facebook login - TypeError: 'username' is an invalid keyword argument for this function"
I'm trying to login thru facebook login, and I'm getting TypeError: 'username' is an invalid keyword argument for this function error.

[Wed Oct 10 08:54:42.115137 2018] [wsgi:error] [pid 14689] ERROR django.request Internal Server Error: /complete/facebook/ [PID:14689:Dummy-1]
[Wed Oct 10 08:54:42.115272 2018] [wsgi:error] [pid 14689] Traceback (most recent call last):
[Wed Oct 10 08:54:42.115276

[2018-10-10 07:11] Pacu2 commented on #3085
What's the version of Saleor you're using? I think we have the similar case handled in Google Social Auth

[2018-10-10 07:38] quarkpol commented on #3085
Problem is, I can not, but thank you for help.

[2018-10-10 07:39] Pacu2 commented on #3085
@quarkpol If you are using old version of saleor, please try adding this line https://github.com/mirumee/saleor/blob/master/saleor/account/models.py#L83
to your local instance, it should solve the problem.

[2018-10-10 07:52] maarcingebala commented on #3037
We don't plan to port that code into Saleor. As I said, due to specific business rules most of that was our customizations to the standard `django_auth_ldap.backend.LDAPBackend`. Unfortunately, we also don't have time to work on that now as we are busy with other priorities. But I'll try to elaborate a bit about the concepts we had back then, so maybe it will guide you if you were to implement tha

[2018-10-10 08:22] patrys commented on #2572
I think a better solutions would be one that increases both quantity in stock _and_ quantity allocated by the total number used by orders. Otherwise stock numbers won't behave properly when fulfillment happens.

[2018-10-10 08:54] Pacu2 commented on #3085
Please reopen if you have further questions

[2018-10-10 08:54] #3085 closed

[2018-10-10 09:49] Pacu2 commented on #2993
Please reopen if you have any further questions.

[2018-10-10 09:49] #2993 closed

[2018-10-10 11:27] maarcingebala opened #3086 "Drop M2M relationship between product types and attribtues"
Currently, the relationship is M2M, but in the new dashboard and API we want to make attributes specific to a product type, instead of sharing them between various types.

- [ ] change relationship from M2M to foreign keys
- [ ] migrate existing (possibly reused withing multiple types) attributes to match the new model
- [ ] adjust logic in backend and API

[2018-10-10 11:36] maarcingebala opened #3087 "Notes from customer not displayed in the new orders view"
### Steps to reproduce the problem
1. Place an order through the storefront and leave a message in "ADD A NOTE TO YOUR ORDER" field (last checkout step).
2. The message should be displayed in the details page in the Dashboard 2.0.

[2018-10-10 11:48] patrys opened #3088 "Manually created facets"
We're moving towards a model where product attributes belong to a single product type. This will likely break the automatically generated facets as some attributes like size or color could be repeated for multiple product types.

We could try to fix this by making the logic smarter however I propose that we instead make facets something that is explicitly defined by the store owner.

A facet would

[2018-10-10 12:05] maarcingebala commented on #3086
Related: #3088

[2018-10-10 14:57] dominik-zeglen opened #3089 "'MutationOptions' object has no attribute 'exclude' error when executing authorizationKeyAdd with empty strings"
### What I'm trying to achieve
To execute `authorizationKeyAdd` mutation with empty strings.

### Steps to reproduce the problem
1. Execute the following query:
[code]
where variables are:
[code]
2. Get this error:
[code]

### What I expected to happen
To get the `errors` object.

[2018-10-10 15:07] dominik-zeglen opened #3090 "shopDomainUpdate should return errors when empty strings given"
### What I'm trying to achieve
To unset the shop's domain.

### Steps to reproduce the problem
1. Execute the following query:
[code]
2. Notice that while domain was not updated, API returned no errors.

### What I expected to happen
To get an error.

[2018-10-10 15:10] maarcingebala commented on #3089
We should rather change both input fields to be required.

[2018-10-10 15:16] maarcingebala commented on #3090
An empty domain would break some functionalities of Saleor such as generating URLs in emails. We rather shouldn't allow setting an empty value there.

[2018-10-10 16:38] joshuacox commented on #3037
@maarcingebala thanks for the input!  Your scenario sounds more like the end goal I had in mind, i.e. Saleor syncing with an LDAP backend.  Specifically I'd like to sell kubernetes services, whereas someone buys a subscription level and then has access to spawn clusters with resources according to their level.  The existing OAUTH stuff certainly gets me part of the way there with authentication of

[2018-10-10 22:18] AtlasMaxima commented on #2634
@pacu2 @patrys  it seems as though Taiwanese Chinese is Traditional Chinese (last one) and Mainland Chinese is Simplified Chinese which is the last second one.

I would like to contribute. Is the issue just to change the language tag from 'zh-tw' to 'zh-hant'?

[2018-10-10 23:42] the-bionic commented on #2986
Doing this:
[code]
during import time crashes the app when testing.

```django-pytest``` complains because the code is trying to access the database during import time here: ```get_permissions()```

[code]

[code]

What if the ```MODELS_PERMISSIONS```  was used instead?

[2018-10-11 10:34] Pacu2 commented on #3065
@the-bionic Given we have mutations for draft orders in https://github.com/mirumee/saleor/blob/master/saleor/graphql/order/mutations/draft_orders.py

Some of them can change the order content, or it's shipping address.

Shipping methods are price-based, or weight-based, they are also limited to certain countries.
So if one changes his shipping address, we should check if Shipping method is still v

[2018-10-11 10:43] patrys commented on #2634
@AtlasMaxima Locale files need to match the language code. As we update translations from Transifex, we'll need a mapping for that as well (Transifex has "Taiwanese" where Django has "Traditional", Transifex has "Chinese" where Django has "Simplified").

[2018-10-11 12:07] the-bionic commented on #3065
Thank you, that's clear enough. I'll pick it up.

[2018-10-11 12:16] patrys commented on #2986
Why do we need to fetch permissions from the database? We already know which permissions are supported.

[2018-10-11 12:53] quarkpol opened #3096 "When generating google merchant feed getting UnicodeEncodeError: 'ascii' codec can't encode characters in position 61-62: ordinal not in range(128)"
When generating google merchant feed getting UnicodeEncodeError: 'ascii' codec can't encode characters in position 61-62: ordinal not in range(128). Server is running on ubuntu.

[Fri Oct 05 12:48:30.861104 2018] [wsgi:error] [pid 16043]   File "/home/invena/invena-sklep/ampli-shop/saleor/data_feeds/google_merchant.py", line 211, in write_feed
[Fri Oct 05 12:48:30.861115 2018] [wsgi:error] [pid 16

[2018-10-11 13:56] #3086 closed

[2018-10-11 13:58] #3010 closed

[2018-10-11 16:34] patrys opened #3098 "GraphQL: merge Domain type into Shop object"
Currently the `shop` query returns a `Shop` objects which contains a `Domain` object. We are exposing an implementation detail where a unified object would be easier to consume by clients.

As a result of this we expose a single mutation that changes both the URL and the site's title.

I propose that we fold `Domain` into `Shop` and add fields for `url` and `title` in the `Shop` type. We could als

[2018-10-12 08:35] Pacu2 commented on #3065
@the-bionic Great, go for it!

[2018-10-12 09:32] Pacu2 commented on #3096
I've tried loading big list of naughty strings and cannot reproduce this issue on the latest master, and I'm not aware of any changes that happened to this google feed recently.

However, I've encountered this error once and it was related to incorrect locale set on my server
Do you mind trying this out?
https://stackoverflow.com/a/20334767/7354351

[2018-10-12 12:14] #2986 closed

[2018-10-12 12:53] #2589 closed

[2018-10-12 12:53] #3089 closed

[2018-10-12 12:53] #3090 closed

[2018-10-12 14:08] dominik-zeglen opened #3103 "Can't update attribute when created with no values"
### What I'm trying to achieve
Update attribute.

### Steps to reproduce the problem
1. Create attribute without values
2. Execute mutation `attributeUpdate` with `addValues` argument
3. Get an error:
[code]

### What I expected to happen
To add values

[2018-10-12 14:49] ajostergaard commented on #2680
Following the Windows install docs results in this error after `python manage.py migrate`:

`django.db.utils.OperationalError: FATAL:  database "saleor" does not exist`

Instructions should be added to the Windows docs to say that the user needs to create a database. It is not done automatically for production type deployments.

[2018-10-12 15:26] dominik-zeglen opened #3105 "Display not found page if details query returned null"
ATM we depend on returning GraphQL error to check if object fetch was successful. Since default API's behavior has changed and returns `null` if the object was not found, we left it unhandled and the user sees skeleton page forever.

[2018-10-12 17:31] Pacu2 commented on #2935
I think that the issue persits if you create an draft order from the dashboard, with products that do not require shipping.

Could yo please follow the steps to reproduce that are listed in the main post?

[2018-10-12 17:32] ajostergaard commented on #2680
@patrys I think that's only true when running tests, no?!?

[2018-10-12 17:33] ajostergaard commented on #2935
I'm an idiot - I completely forgot it was the dashboard... brb while I go bang my head against a door. ;)

[2018-10-12 17:35] Pacu2 commented on #2935
@ajostergaard No worries, happened to all of us at some point :)

[2018-10-12 18:53] ajostergaard commented on #2935
Do we want shipping to be hidden until products which require shipping are added to the draft order or do we just want shipping visible but not editable? I prefer the latter so will do that but happy to pivot if mirumee prefer the former.

[2018-10-12 19:44] the-bionic commented on #3065
@Pacu2 should this check be done after the order has been updated or before?

[2018-10-12 20:54] Pacu2 commented on #3065
@the-bionic I think we should clear the shipping method if it's not valid, as updating the order's content is more important.

[2018-10-12 22:14] NyanKiyoshi commented on #2680
@ajostergaard yes, looks like there is and was no such things in django's source code.

[2018-10-13 10:02] stephenmoloney opened #3110 "Dockerfile installs dev dependencies"
### What I'm trying to achieve

Have a production ready docker build

At the moment, pipenv installs dev dependencies which I presume
are not required nor needed in production.

### What I expected to happen

Have a dockerfile suitable for production

Could be achieved in one of two ways:

1. Create a dedicated `Dockerfile.prod`

2. Add build-arg to the `Dockerfile` which will take different actio

[2018-10-14 16:44] ajostergaard opened #3113 "Support other S3 than AWS"
### What I'm trying to achieve
Support other S3 API compatible buckets than AWS

### Describe a proposed solution

Add below to settings is sufficient:
AWS_S3_ENDPOINT_URL = os.environ.get('AWS_S3_ENDPOINT_URL')
AWS_S3_REGION_NAME = os.environ.get('AWS_S3_REGION_NAME')

Personally also using:
AWS_DEFAULT_ACL = os.environ.get('AWS_DEFAULT_ACL', 'public-read')
AWS_S3_OBJECT_PARAMETERS = {
    'Cache

[2018-10-15 08:56] fowczarek opened #3114 "Celery generates thumbnails in infinite loop"
### What I'm trying to achieve
Run Saleor with Docker

### Steps to reproduce the problem
1. docker-compose build
2. docker-compose run web python3 manage.py migrate
3. docker-compose run web python3 manage.py collectstatic
4. docker-compose run web python3 manage.py populatedb --createsuperuser
5. Celery generate thumbnails in infinite loop

This doesn't happen every time. Cann't specify the cond

[2018-10-15 09:01] patrys commented on #3114
The problem is that docker-compose is set to restart all containers so unless you explicitly pass `--rm` to `docker run`, both the `populatedb` and the `collectstatic` commands will be executed over and over again.

[2018-10-15 09:02] maarcingebala commented on #3114
@patrys Can we fix that in Dockerfile or docker-compose config?

[2018-10-15 09:07] patrys commented on #3114
Yes, I'd suggest to start by dropping all [`restart: unless-stopped`](https://github.com/mirumee/saleor/blob/master/docker-compose.yml#L10) or at the very least change them to `restart: on-failure` .

[2018-10-15 11:29] stephenmoloney commented on #3114
The choices really are:

1. To set restart to `restart: "no"`

options:
[code]

or

2. To document that `docker-compose run --rm web python3 manage.py migrate` instead of `docker-compose run web python3 manage.py migrate`

or

3. To document

`docker-compose exec -ti web python3 manage.py migrate`

[2018-10-15 11:44] patrys commented on #3114
Note that we should always provide examples using `--rm` when using `docker-compose run` as skipping it will result in leftover junk even when restarting is disabled.

[2018-10-15 11:55] stephenmoloney opened #3116 "Is there a /health/ path"
### What I'm trying to achieve

I just want to know if there is a url like `/health/` and if there is any documentation about it.
I want to use such a url for a liveness and readiness probe in helm

[2018-10-15 12:00] Pacu2 commented on #3116
I think just `/health/` will do

[2018-10-15 12:01] patrys commented on #3116
Indeed, [`/health/` is supported](https://github.com/mirumee/saleor/blob/cbc72d3417482d20ae9f64b61a0f8964e728e56b/saleor/wsgi/__init__.py#L28).

[2018-10-15 12:07] stephenmoloney commented on #3116
Ok, The liveness probes and readiness probes were failing with just `/health/` - they worked when I removed them.

I'll try this again though, perhaps I had something wrong.

[2018-10-15 12:08] stephenmoloney commented on #3110
ref #3117 and #3111

[2018-10-15 12:59] patrys commented on #2680
You're right, I've checked and it's definitely only supported during tests.

[2018-10-15 13:50] kirktsao opened #3119 "Is Pgadmin4 import product possiable?"
I'm looking for the method to import products data.i had try using pgadmin4 export a csv file as a template and add new products.it's always issue error when importing.is there any good way to solve this?

[2018-10-15 14:28] dominik-zeglen opened #3120 "Getting error when category has no background image"
### Steps to reproduce the problem
1. Create category with no background image
2. Exec query
[code]
3. Get an error
[code]

### What I expected to happen
To successfully fetch category data.

[2018-10-15 14:30] Pacu2 commented on #3120
Same situation should be checked for collections with no backgorund_image

[2018-10-15 15:14] NyanKiyoshi opened #3121 "Add a documentation sub domain to getsaleor.com"
Hi,

I would think that adding a subdomain to `getsaleor.com` to accede the docs (`docs.getsaleor.com`) would really be handy instead of going to `saleor.readthedocs.io` ([documentation about custom domains](https://docs.readthedocs.io/en/latest/alternate_domains.html#subdomain-support)). Especially for people that don't know the RTD URL, that would try to append `docs` to the URL or want a quick

[2018-10-15 15:20] patrys commented on #3121
http://docs.getsaleor.com/ is now a thing 🎉

[2018-10-15 15:20] #3121 closed

[2018-10-15 16:35] dominik-zeglen opened #3122 "`parent` field should not be included in `CategoryInput` type"
`CategoryInput` should be consistent with the rest of `...Input` types and take only those arguments, which reference what object looks like, and not what is its place. Therefore, `categoryCreate` mutation should have signature `categoryCreate(input: CategoryInput!, parentId: ID)`.

[2018-10-16 07:31] elsagong commented on #2634
@Pacu2 You are welcome, I'm sorry again for my late reply, and It is worth mentioning that there is no "Taiwanese" in China,  people live in Hong Kong, Taiwan and Macao, China all use "Traditional Chinese".

[2018-10-16 08:39] dominik-zeglen opened #3123 "No way to upload or remove category background"
At this moment API has no mutation that would allow category background image management.

[2018-10-16 10:15] #2594 closed

[2018-10-16 10:19] maarcingebala commented on #2778
We agreed on new components that we're able to provide and we got the mockups on Figma. @Bonifacy1 is to implement the components, I'll think of API changes required to implement those components and will implement them in a separate PR.

[2018-10-16 11:37] quarkpol opened #3124 "How to change translation?"
Is there an easy way to change translation of the orange label? I've tried manualy change django.po file in locale/pl folder, and it didn't work. If it isn't place to ask this kind of questions I will cancel it.

![internation](https://user-images.githubusercontent.com/16999124/47013534-cbfc6880-d147-11e8-9a48-c33497f5a125.jpg)

[2018-10-16 11:39] Pacu2 commented on #3124
@quarkpol Have you fired `compilemessages` after changing the translation files? I lives under `./manage.py compilemessages`

[2018-10-16 12:01] quarkpol commented on #3124
I've tried this localy on my machine and it works. I can't compile messages on production server. Is it enough if I copy just one pl folder with compiled messeges to server? Or I need to compile it on production server?

[2018-10-16 12:06] maarcingebala commented on #3124
Compiling them on a server shouldn't be necessary - compiled messages are stored in the repo, so if you make changes locally, compile the messages and push everything to your server, everything should work.

[2018-10-16 13:09] quarkpol commented on #3124
Thank you, it works.

[2018-10-16 13:10] #3124 closed

[2018-10-17 12:01] Pacu2 commented on #3119
Hi @kirktsao, we have no ready-to-go solution, you could handle that by creating a dashboard section, where one can upload a .csv file to create products from. It could be handled asynchronously via the Celery task.

[2018-10-17 12:46] dominik-zeglen opened #3125 "Add publication date to collections"
### What I'm trying to achieve
To publish collection with some delay.

### Describe a proposed solution
Add `published_at`field to collection model and check if the current date is greater than `published_at`. Basically the same as `available_on` in products.

[2018-10-17 12:47] kirktsao commented on #3119
Thank you!I see.

[2018-10-17 13:35] MilanRgm opened #3126 "How to update the model where id is not necessary?"
I am trying to use its graphql based api but I have a doubt on the update part. I am not quite sure, so i am asking first on how you are handling the update part where id is not necessary? Like for updating the user profile, id is not necessary, we can get the requested user(info.context.user) and update the items.

Here is an example

[code]

[code]

If i don't provide id, the update does not wor

[2018-10-17 13:39] Pacu2 commented on #3126
Our mutations are based on our custom helpers, one is `ModelMutation`, where the other is `BaseMutation`. You can think of them as ModelForm and Form in Django (they are not twins, more like cousins, distant ones.)

I think you might want to use `BaseMutation` in such case, and write a custom `mutate` method to handle your case.

[2018-10-17 13:59] Pacu2 commented on #3125
@lokesh005 go for it, there's similar mechanism already live on `Page` model, you might want to take some inspiration out of it

Any questions- I'm here to help

[2018-10-17 14:21] MilanRgm commented on #3126
Thanks a lot for such quick reply. By custom mutate you mean to say something like this.

[code]

[2018-10-17 14:36] MilanRgm commented on #3126
Thanks a lot. I am closing this then.

[2018-10-17 14:36] #3126 closed

[2018-10-17 16:00] carstenblt opened #3127 "VariantPicker broken"
The VariantPicker does not show anymore for products with multiple variants. The element doesn't get rendered and the picker and the add-to-cart button don't show.

Completly fresh install, commit afce249.

There is no specific error showing, however this looks new in the JS console: (shows on every page, not just one with a variantpicker)

[code]

[2018-10-18 01:28] MilanRgm commented on #3126
I passed the user's ID, i got the error AssertionError('Must receive a ProfileNode id.').

[code]

[2018-10-18 06:40] Pacu2 commented on #3126
Right, that was my misunderstanding, as in Saleor we are using the User instead of Profile.
ModelMutation takes an ID of given model (Profile in your case)

[2018-10-18 07:50] maarcingebala opened #3129 "Dashboard 2.0- Submit button shows "Saving" label when loading the view for the first time"
"Save" button shows the "Saving" label with spinner when a view is being loaded for the first time. I assume that the `isLoading` state from Apollo is naivly passed to the button component, which in this case should happen only when a mutation is triggered. This happens for example in the new category details view (currently `Restyle/categories-section` branch), but I suppose it happens in other v

[2018-10-18 09:08] #2599 closed

[2018-10-18 09:53] maarcingebala commented on #3127
So far I discovered that importing `ReactDOM` causes this error. We [upgraded it's version recently](https://github.com/mirumee/saleor/commit/b35c0f749ecfe475b094d56ea2518a0f470792ac), maybe some other package should be updated as well as they're not compatible at the moment?

[2018-10-18 11:07] kirillmakhonin opened #3130 "Using of wrong Money constructor on displaying order info in dashboard"
### What I'm trying to achieve
I've tried to add refunds / captures (using dummy provider's preauth. payment)

### Steps to reproduce the problem
1. Create payment using dummy provider
2. Preauth. payment
3. Make payment refunds and captures in dashboard
4. Open order in dashboard

### What I expected to happen
I expected to see order page in dashboard, but I've got `conversion from dict to Decima

[2018-10-18 11:35] Pacu2 commented on #3130
Right, Money serialization changed to the dictionary at some point and this function was not adjusted. It's tested, but params could be json dumped and loaded again instead of hardcoding them.

[2018-10-18 12:05] dominik-zeglen commented on #3127
It appears that the UMD version of `ReactDOM` is broken since `CommonJS` is working perfectly. I'll post a fix in a few minutes.

[2018-10-18 12:58] #3127 closed

[2018-10-18 13:45] SanskarSans opened #3133 "Support image upload with dropzone in Dashboard 2.0"
I am using dropzone for uploading the product images. I am not sure what to pass so I passed whole File object but I am getting error `unhashable type: 'list'`. This is what I provided

<img width="500" alt="screen shot 2018-10-18 at 7 25 38 pm" src="https://user-images.githubusercontent.com/23137016/47158778-14fd1a00-d30c-11e8-8331-1f378145a7fc.png">

my mutation is

[code]

I could not figure ou

[2018-10-18 14:08] #3130 closed

[2018-10-18 14:55] dominik-zeglen opened #3134 "Add description field to collection model"
### What I'm trying to achieve
To add a description to a collection.

### Describe a proposed solution
Add `description` field to `Collection` model.

### TODO
- [ ] Add description field to `Collection` model
- [ ] Add description field to `CollectionTranslation` model
- [ ] Adding migrations
- [ ] Add `description` to Collection's forms & templates in the dashboard
- [ ] Adding `description` fie

[2018-10-18 15:49] #2657 closed

[2018-10-18 19:19] robotswordfight opened #3136 "Variant Picker still not working, new error"
### What I'm trying to achieve
After trying the fix from #3127 or even starting from scratch all pages now have the following error:

[code]

### Steps to reproduce the problem
1. Fresh install & Setup 618ad655ebdb3e5f2937e43855fe3e7cb9d23515
2. Variant picker is still broken, new error now (shown above) exists on all pages.

Not sure what else may be broken.

[2018-10-19 08:32] pmutua commented on #3134
# Detailed Explanation

- adding migrations
- expanding forms in the dashboard
- adding this field to GraphQL APIs

[2018-10-19 10:53] dominik-zeglen opened #3138 "Error when updateHomepageCollection is given null as collection"
### What I'm trying to achieve
To remove homepage collection.

### Steps to reproduce the problem
1. Execute updateHomepageCollection with `collection: null`
2. Get an error ` "mutate() missing 1 required positional argument: 'collection'"`

### What I expected to happen
To return shop object with `homepageCollection` field being `null`.

[2018-10-19 10:57] dominik-zeglen opened #3139 "collectionUpdate should not be able to override `products` field"
Currently, it is possible to completely override the collection's product list with `collectionUpdate` mutation, because it accepts `CollectionInput` as an argument, which has `products` field. Thus should not be possible, because there are dedicated mutations to either add or remove products from collection.

[2018-10-19 12:30] dominik-zeglen commented on #3136
@robotswordfight we cannot reproduce the error you reported. Can you give us more info, like Node version?

[2018-10-19 14:40] #3139 closed

[2018-10-19 15:03] robotswordfight commented on #3136
➜ node -v
v10.12.0

[2018-10-19 15:08] dominik-zeglen opened #3142 "Field `slug` should not be required in collectionCreate mutation"
It should be possible to create a collection with an automatically generated slug based on its name. Unfortunately, at this moment this field is required.

[2018-10-19 15:10] Pacu2 commented on #3142
Other places should be checked as well, as I think it happens in more places, like eg. categories

[2018-10-19 15:11] robotswordfight commented on #3136
Ah! It only happens with the development react.

I changed this:

[code]
to this:

[code]

and no more error and variant works!

[2018-10-19 15:23] dominik-zeglen opened #3143 "Cannot create collection without specifying `backgroundImage`"
### What I'm trying to achieve
To create a collection without a background image.

### Steps to reproduce the problem
1. Execute `collectionCreate` mutation without specifying `backgroundImage` field in `input` field
2. Get an error `"The 'background_image' attribute has no file associated with it."`

[2018-10-19 16:14] dominik-zeglen commented on #3143
Turns out that it was caused by messed up rebase.

[2018-10-19 16:14] #3143 closed

[2018-10-19 16:26] dominik-zeglen opened #3144 "`collection` query returns error when collection has no background image"
### What I'm trying to achieve
To get a collection that has no background image.

### Steps to reproduce the problem
1. Execute `collection` query against collection without background image (that has `background_image: null`)
2. Get an error `"The 'background_image' attribute has no file associated with it."`

[2018-10-19 16:53] #3138 closed

[2018-10-20 00:00] bogdal commented on #3103
@dominik-zeglen Does the problem still occur? I'm not able to reproduce it.
I have added a test to cover your use case.

[2018-10-20 15:29] pooyakn commented on #3067
Sorry for my late response. I was busy for the last few days.
I'll be working on it from now on.

So we want to use [Draftail](https://github.com/springload/draftail) for React side editor, and possibly [draft.js exporter](https://github.com/springload/draftjs_exporter) for converting the Draft.js schema (that Draftail uses) to HTML for showing Draft.js data correctly in Django views?
cause I chec

[2018-10-21 15:15] ajostergaard opened #3149 "Using non-default currency requires makemigrations"
### What I'm trying to achieve

Due to MoneyFields including currency `USD` is baked into database migrations. As a result if you change `DEFAULT_CURRENCY` and then, for some reason, need to `migrate` you will get the following message:

ImportError: cannot import name 'ProductAttribute'

Seems prudent to add a note to the docs suggesting folk who change the currency run `makemigrations` however I

[2018-10-22 07:07] quarkpol opened #3151 "Getting error when try to run webpack in watch mode"
When trying to run webpack in watch mode I'm getting error.

'UV_THREADPOOL_SIZE' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! saleor@0.0.0 start: `UV_THREADPOOL_SIZE=8 node ./node_modules/webpack/bin/webpack.js -d --watch`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the saleor@0.0.0 start script.
np

[2018-10-22 07:14] quarkpol opened #3152 "Getting error when try to run webpack in watch mode."
I am getting error when try to run webpack in watch mode.

'UV_THREADPOOL_SIZE' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! saleor@0.0.0 start: `UV_THREADPOOL_SIZE=8 node ./node_modules/webpack/bin/webpack.js -d --watch`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the saleor@0.0.0 start script.
npm

[2018-10-22 07:16] #3151 closed

[2018-10-22 08:14] carstenblt commented on #2347
There are two parts to it: server-side filtering of tags and the editor. The filtering is fine, however the editor is pretty much unusable for me. As soon as it gets to placing images for example it gets pretty much impossible to design a good page. There are better alternatives out there, but a button to switch to pure HTML would help a lot!

[2018-10-22 09:30] patrys commented on #3067
Yes, sorry if there was any confusion.

[2018-10-22 10:32] krzysztofwolski opened #3154 "Menu links does not take language in consideration"
### What I'm trying to achieve
When I change language in demo, I assume that links at menu will use same language.

### Steps to reproduce the problem
1. Go to https://demo.getsaleor.com/pl/ (polish version)
2. Check urls in menu - `/en/products/category/apparel-1/` (points to eng version)

### What I expected to happen
1. Go to https://demo.getsaleor.com/pl/ (polish version)
2. Check urls in menu

[2018-10-22 11:11] stephenmoloney opened #3156 "Redundant ENV variable ?"
### What I'm trying to achieve

Ascertain if the `ENV PROCESSES` variable in the `Dockerfile` is redundant?

### What I expected to happen

That `PROCESSES` would affect the number of uwsgi workers. But I can't find any
documentation anywhere that states what adding an OS ENV variable `PROCESSES` would do.

What is the purpose of `PROCESSES` ?
Is there documentation somwhere on what it does?

[2018-10-22 11:34] dominik-zeglen commented on #3144
`collectionCreate` also produces this error when no `backgroundImage` is provided

[2018-10-22 11:35] dominik-zeglen commented on #2777
Blocked by #3144

[2018-10-22 11:37] stephenmoloney opened #3157 "Redundant environment variable `PROCESSES` ?"
### What I'm trying to achieve

ENV variable `PROCESSES` in the Dockerfile seems to be redundant

### Steps to reproduce the problem

See
https://github.com/mirumee/saleor/blob/master/Dockerfile#L74

There is no documentation about how this variable has any effect

### What I expected to happen

I expected `PROCESSES` to set the number of workers in `uwsgi.ini`

[2018-10-22 11:56] dominik-zeglen opened #3158 "Connect home widgets to API"

[2018-10-22 12:54] stephenmoloney commented on #3156
duplicate issue closing in favour of https://github.com/mirumee/saleor/issues/3157

[2018-10-22 12:54] #3156 closed

[2018-10-22 14:07] #3123 closed

[2018-10-22 17:35] #3120 closed

[2018-10-22 17:35] #3144 closed

[2018-10-22 20:16] ubuntume opened #3161 "Unable to test"
I ran the documentation line for line multiple times, however I keep having a trash VM that complains about Django site

[2018-10-22 21:19] Pacu2 commented on #3161
Please provide a complete stack trace so we can debug this together

[2018-10-22 22:10] arlejeun commented on #3136
Sorry but I'm facing similar issue with a fresh new install on Ubuntu 18.04.
Node version - 10.12.0

I am somewhat familiar with Django and python but I have no knowledge about react and very little with webpack. It looks like the VariantPicker is not properly constructed causing an issue in the console and no element to be display in my detail product page.

See below the result in the console wh

[2018-10-23 04:03] ubuntume commented on #3161
I was going the portainer docker route by allowing it to create it's own
stack and then I attempted to do raw docker install through the terminal.
 When I run collectstatic, it freezes. No error just never overwrites a
single file.

On Mon, Oct 22, 2018, 5:19 PM Filip Kucharczyk <notifications@github.com>
wrote:

[2018-10-23 08:02] Pacu2 commented on #3161
Might it be related to #3114 ?

[2018-10-23 09:54] quarkpol opened #3164 "How to make phone number field required?"
I am trying to make phone number field required when adding shipping address. I can't find a place where required property is set up. Can anybody help?

[2018-10-23 09:58] Pacu2 commented on #3164
How about making it required in the `AddressForm`'s `__init__` method? Would that work?

[2018-10-23 11:10] quarkpol commented on #3164
Thank you. I've found it in i18n.py file (still don't understand how saleor generates shipping address form). I have one more problem, The phone field changes red, but the message: "this field is required" doesn't appear. Maybe some hints on that?

[2018-10-23 11:58] fowczarek commented on #2747
I can't reproduce this bug.
![image](https://user-images.githubusercontent.com/43955230/47358934-90bfe380-d6cb-11e8-962d-2cb7a8a9cc6a.png)

[2018-10-23 12:11] patrys commented on #2747
You are looking at HTML doc output. HTML rendering by default folds all whitespace into a single character which hides the problem. Take a look at tooltips (hover over something in the query editor on the left in GraphiQL/Playground) to see the issue.

[2018-10-23 13:13] Pacu2 commented on #3164
Tbh I don't know the reason why it's set as display:none, tried looking for the CSS class but it looks like it's not coming from Saleor's code.

[2018-10-23 13:31] #3164 closed

[2018-10-23 14:02] #3122 closed

[2018-10-23 16:39] maarcingebala commented on #3158
Queries to fetch the data for the Dashboard 2.0 homepage:

Today's total sales:
[code]

Today's total orders number
[code]

Number of orders ready to fulfill
[code]

Number of payments ready to capture
[code]

Number of products out of stock
[code]

List of X top products today - quantity ordered and total revenue generated by those orders
[code]

Activity events (only related to orders at the mom

[2018-10-24 08:27] khalibloo opened #3165 "Provide search suggestions / autocomplete"
### What I'm trying to achieve
As the user types in a search query, it'd be helpful to have some suggestions as is often found on ecommerce sites. Perhaps the suggestions could also offer product categories up. For example, typing "Nintendo" could produce a suggestion like "Nintendo in Video Games". As I'm using the GraphQL API, my end goal would be to have a query for this on the API.

### Descri

[2018-10-24 11:41] maarcingebala commented on #2777
Closed via #3135

[2018-10-24 11:41] #2777 closed

[2018-10-24 11:44] dominik-zeglen opened #3166 "`customers` query returns duplicated records"
### What I'm trying to achieve
To get shop customers list.

### Steps to reproduce the problem
1. Execute the following query
[code]
2. Notice that some records are duplicated

[2018-10-24 13:42] dominik-zeglen opened #3168 "User type should be able to return `created` and `lastLogin` fields"
There is no way to obtain information when a user was registered and when she/he logged last time.

[2018-10-24 14:52] danrleywillyan commented on #2817
[2018-10-24T14_39_02_266Z-debug.log](https://github.com/mirumee/saleor/files/2510980/2018-10-24T14_39_02_266Z-debug.log)

It`s not memory problem!  See the error messages:
![error saleor1](https://user-images.githubusercontent.com/12025215/47439529-e60afc00-d782-11e8-8a58-7df0aff65605.png)

All the error messages has that sentence.  Do I have to change the code ?

[2018-10-24 15:22] the-bionic commented on #2817
I noticed this error recently, too.

Are you using VS code?

[2018-10-24 18:54] the-bionic commented on #2817
Also, I think your issue is unrelated to the original issue. You probably updated your tslint or Typescript -- it is not in sync with the ```saleor's```.

[2018-10-25 12:51] lehnerv opened #3171 "Using Saleor on DIGITAL ocean"
Hello

Sorry for that basic question, but can i deploy you solution on VPS (Digital Ocean) Centos server ? I have checked the documentation but i found instruction only development not for production environment.

Thanks

Viktor

[2018-10-25 13:14] dominik-zeglen opened #3172 "Add basic order filters"
Because API is now able to provide basic filtering by order status and customer, it should be implemented in UI.

[2018-10-25 13:16] dominik-zeglen opened #3173 "Add addresses management"
After finishing #2598, dashboard's users will not be able to manage customers' addresses.

[2018-10-25 13:31] dominik-zeglen opened #3174 "customerUpdate mutation should be able to set `isActive` flag"
### What I'm trying to achieve
To change customer's status.

### Describe a proposed solution
Add `isActive` to `CustomerInput` input type.

[2018-10-25 13:31] dominik-zeglen commented on #3174
Blocks #2598

[2018-10-25 13:33] dominik-zeglen opened #3175 "API is unable to remove customer"
### What I'm trying to achieve
To remove customers account

### Describe a proposed solution
Add `customerRemove(id: ID!)` mutation.

[2018-10-25 13:33] dominik-zeglen commented on #3175
Blocks #2598

[2018-10-25 15:53] maarcingebala commented on #1712
We've just merged #2983 where we used a different approach - dynamically adding prefetches to database queries based on what fields were included in a query.

[2018-10-25 15:53] #1712 closed

[2018-10-26 03:13] elsagong opened #3179 "LANGUAGE_CODE = 'en', but default language is no English but Chinese"
### What I'm trying to achieve
When user opens the website on a new device, the default language is (en)English, not (zh-hans)Chinese.

### Steps to reproduce the problem
LANGUAGE_CODE = 'en' was set in settings, but when new user open the website, the default language is Chinese, not English.

### What I expected to happen
I would like to let `en`(English) as the default language.
Thank you so mu

[2018-10-26 08:59] #3174 closed

[2018-10-26 08:59] #3175 closed

[2018-10-26 09:21] fowczarek opened #3181 "Add First and last name in react dashboard"
In pull request #3101, added first and last name to user. Old dashboard has been updated. We need to update new dashboard via adding this fields to customer and stuff module.

[2018-10-26 13:43] dominik-zeglen opened #3184 "Add basic filters to products page"
We can add "Available" and "Out of stock" filters to product list.

[2018-10-26 18:35] khalibloo opened #3185 "Query logged in user (self) on GraphQL API"
### What I'm trying to achieve
Query the API for information on the currently logged in customer. Currently, only staff are allowed to query information on users. Customers should at least be able to query their own information.

### Describe a proposed solution
Allow customers to query their own profile information.

### Other solutions I've tried and won't work
This is possible using the `tokenV

[2018-10-26 19:06] the-bionic commented on #3185
I think it's possible to retrieve a user's information if a valid token is provided.

[2018-10-26 19:09] khalibloo commented on #3185
That only works for me if the token is for an admin user. With a customer token, I get an error saying I do not have permission to perform the action.

[2018-10-26 19:29] xtrasalty commented on #1080
I just started with Saleor and I was just looking for this same functionality.  I will take a look at how you implimented this.

[2018-10-26 21:55] khalibloo commented on #3185
Looking at the code in https://github.com/mirumee/saleor/blob/master/saleor/graphql/api.py
[code]
Yeah, the queries require admin permissions

[2018-10-27 08:38] khalibloo commented on #3185
It would seem the `addressCreate` mutation and possibly other address management mutations only allow staff access as well.
[code]
Since the user model itself lacks some fields I need in my use case (name, phone), I've found it convenient to use the first address instance to store those information. It seems reasonable to me that the user should be able to update their address as well.

[2018-10-27 19:36] NyanKiyoshi commented on #3171
Hello,

Saleor is production ready and used in production. It can be installed and used on any cloud provider you want, Digital Ocean, AWS, OVH, ...

[2018-10-27 20:02] lehnerv commented on #3171
Thanks, finally i have managed the deployment ,but it was a challenge for me. For example if you choose a digital ocean server you should select minimum 2 GB RAM. Otherwise it is a very nice app, so i want to give back something, and i started to translate to Hungarian.

[2018-10-28 12:57] NyanKiyoshi commented on #3154
I can't find a non hacky way of reversing URLs without receiving the language code. The idea would be to drop the language code prefix (e.g. `/en/`) to force django to redirect the user to the correct URL.

The faulty line:
https://github.com/mirumee/saleor/blob/ef38d4395bcfd9c986ab750c5326bcd30d7246d4/saleor/dashboard/menu/utils.py#L29

[2018-10-28 17:46] h3 commented on #1470
What is the reasoning behind packaging Saleor as a project rather than a reusable app?

Because the difficulty in solving that problem pretty much stems from there.

[2018-10-28 21:04] h3 commented on #1470
My internal notes on upgrading, if that can be useful to someone: https://gitlab.com/snippets/1770515

[2018-10-29 07:14] harinath141 opened #3187 "Deployment through Heroku failing"
hi,

Deployment through heroku failing due to pipfile.lock

Here is the build logs from Heroku.

[code]

[2018-10-29 08:29] ajostergaard commented on #3179
Does the browser have a language preference set? If so, that will be respected if Saleor has that same language enabled in `settings.LANGUAGES`.

[2018-10-29 08:33] harinath141 commented on #3187
@ajostergaard thanks for the reply but i think its not relevant..

[2018-10-29 08:45] ajostergaard commented on #3187
Just wondering if Python and Pip had been installed differently (as per the PR) whether the error would still occur. Never mind, ignore me. 👍

[2018-10-29 12:53] richard-scott commented on #3187
Deploying from master on Heroku or in Docker results in the same error:

[code]

Try this for Heroku as this has worked just now for me:
https://heroku.com/deploy?template=https://github.com/mirumee/saleor/tree/v2018.09

[2018-10-29 13:49] maarcingebala commented on #3152
Hey, what Node version do you have? Make sure that you're running Node > 10.x. (I'm using 10.11.0 with latest `master` and everything works well).

[2018-10-29 14:01] maarcingebala commented on #3185
Hey @khalibloo, thanks for reporting those problems! You're right - user-related mutations and queries require staff permissions as we wrote them with Dashboard 2.0 in mind. Of course, this should be changed as you suggest - authenticated customers should be able to fetch their account data with `user(id:"")` query as well as to modify their addresses.

[2018-10-29 14:04] harinath141 commented on #3187
Yeah its working thank you @richard-scott

[2018-10-29 15:03] #2598 closed

[2018-10-29 15:37] emz6039 opened #3190 "Redirect super user to dashboard"
Hello, I'm trying to redirect a superuser to dashboard after login instead of the home page can anyone help me?

[2018-10-29 16:49] #3158 closed

[2018-10-29 17:08] #2680 closed

[2018-10-29 20:22] ajostergaard commented on #3190
As far as I can tell this is not a feature of Saleor today. Are you looking for advice on how you might go about adding the feature?

[2018-10-29 20:43] emz6039 commented on #3190
Yes, Im looking for advice on how I might go about adding this feature to saleor.

[2018-10-29 20:59] wulaaf commented on #1036
Any idea how that might be accomplished?

[2018-10-30 00:46] thierri commented on #3187
Same error here. Trying to run the Docker environment locally.

[2018-10-30 07:57] ajostergaard commented on #3190
You'd need to monkey patch the LoginView used here: https://github.com/mirumee/saleor/blob/7fa04dbb3e79532124494323fdcbc54c41166425/saleor/account/views.py#L25

You need to override `get_success_url` to do your bidding. The original is https://github.com/django/django/blob/a906c9898284a9aecb5f48bdc534e9c1273864a6/django/contrib/auth/views.py#L63

There may be more to it than that but I don't think

[2018-10-30 08:13] ajostergaard commented on #3190
You'll want to monkey patch `LoginView` used here: https://github.com/mirumee/saleor/blob/7fa04dbb3e79532124494323fdcbc54c41166425/saleor/account/views.py#L25

Probably by overriding `get_success_url` - original here:
https://github.com/django/django/blob/a906c9898284a9aecb5f48bdc534e9c1273864a6/django/contrib/auth/views.py#L63

Don't forget Storefront 2.0 is around the corner so unless critical t

[2018-10-30 09:00] #2747 closed

[2018-10-30 10:42] Pacu2 opened #3191 "Test coverage is incorrectly displayed for GraphQL-based features"
Tests coverage incorrectly reads the GraphQL-based features, we could consider excluding certain patches from checks.

[2018-10-30 12:02] manish211215 opened #3193 "operational Error"
when i was installing the saleor project in my windows 10 than i have a issue with " python manage.py  migrate " command on my powershell , please give me the right solution . thanks
the powershell text are as follows -
File "F:\myprojects\lib\site-packages\psycopg2\__init__.py", line 130, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
django.db.utils.Operati

[2018-10-30 12:04] Pacu2 commented on #3193
Looks like an incorrect setup of the database, have you followed the installation steps in the docs?

[2018-10-30 12:05] manish211215 commented on #3193
yes i created the database manually  going through pgadmin with name saleor

[2018-10-30 12:06] Pacu2 commented on #3193
Have you created the user as well?

[2018-10-30 12:06] manish211215 commented on #3193
how to create user on  database

[2018-10-30 12:08] manish211215 commented on #3193
please clarify sir

[2018-10-30 12:17] manish211215 commented on #3193
sir  could  you please give me the solution of this problem ?

[2018-10-30 12:20] Pacu2 commented on #3193
In Windows Installation docs, point 5 is about creating the user for the database, please check it out.
Docs can be found at https://readthedocs.org/projects/saleor/

[2018-10-30 12:29] #3053 closed

[2018-10-30 12:36] patrys commented on #3191
What exactly happens there?

[2018-10-30 13:44] gagantrivedi commented on #3134
can i take this up ?

[2018-10-30 15:59] manish211215 commented on #3193
thanks i got it

[2018-10-30 16:03] manish211215 commented on #3193
but when i run command in powershell ' npm install ' then it stuck here as below in image , so my question is is npm installed or not , please give me reply asap . thanks
![npm](https://user-images.githubusercontent.com/37300125/47731983-491cf700-dc8b-11e8-828c-2b23b4a1e087.png)

[2018-10-30 16:06] #2557 closed

[2018-10-30 16:06] #2556 closed

[2018-10-30 16:06] #3066 closed

[2018-10-30 16:08] Pacu2 commented on #2701
closed in #2567

[2018-10-30 16:08] #2701 closed

[2018-10-30 16:32] manish211215 commented on #3193
and further when i run all commands and finally run 'python manage.py runserver' and open in my browser than i got this error as below -
    for entry in os.listdir(path):
FileNotFoundError: [WinError 3] The system cannot find the path specified: 'F:\\myprojects\\saleor\\saleor\\static\\assets'

[2018-10-30 16:32] manish211215 commented on #3193
please help me sir i am stuck with it

[2018-10-30 16:41] gagantrivedi commented on #3125
can i take this up @Pacu2

[2018-10-30 21:51] NyanKiyoshi commented on #3154
cc. @Pacu2

[2018-10-31 08:54] manish211215 commented on #3193
Sir please help asap .

[2018-10-31 09:39] manish211215 commented on #3193
sir please help what should i do now ??

[2018-10-31 09:41] manish211215 commented on #3193
i am stuck very badly

[2018-10-31 10:21] patrys commented on #3193
Hey, would you mind joining the Gitter chat at https://gitter.im/mirumee/saleor and asking there? This will be much easier to debug if you could talk to someone in real time.

[2018-10-31 10:23] manish211215 commented on #3193
okk sir

[2018-10-31 13:24] patrys opened #3207 "Have CircleCI test all pull requests, not just commits to master"
Currently we're only attempting to build Docker images on CircleCI when a merge to master branch occurs. This leads to situations where we break Docker and only learn about it after the change lands on master. That's clearly not ideal, let's test all pull requests.

[2018-10-31 13:55] Pacu2 opened #3208 "No way to easily create multiple variants"
### What I'm trying to achieve
Improve product variant creation flow

### What I expected to happen
When adding variants to the product I need to go to
Product -> variant edit -> created variant -> product -> variant edit

I think that placing floating "add" button on variant details page would simplify the flow significantly, specially when one is creating several variants one by one

[2018-10-31 13:59] Pacu2 opened #3209 "Products without variants breaks after changing product type"
1. Create ProductType with "has_variants" ticked
2. Create product without variants
3. Untick "has_variants" on the ProductType
4. Try to edit the product created in 2nd step

An error should be thrown, I suppose we are not creating default variant

[2018-10-31 18:36] Pacu2 opened #3216 "Test new populatedb"
We have not added tests for the new populatedb in #3214

[2018-10-31 18:40] #2572 closed

[2018-10-31 18:40] #2939 closed

[2018-10-31 19:38] Pacu2 opened #3219 "Add missing products & their images"
We would like to see 20-ish products per category.

It would be nice if each of them would have 1-4 images (presenting them from different sides whenever possible)

## TODO:
- [ ] Graphic design
- [ ] Copy
- [ ] Implementation

[2018-10-31 22:21] IFLead opened #3222 "Add mutation to use voucher in checkout."
### What I'm trying to achieve
I am trying to add voucher to the cart with help of graphql

### Describe a proposed solution
Add mutation to the graphql api

### Other solutions I've tried and won't work
…

### Screenshots or mockups
...

[2018-11-01 02:41] #3179 closed

[2018-11-01 08:33] Pacu2 opened #3225 "Update favicon to the new style"
Favicon should be updated to fit the new style

[2018-11-01 15:05] stephenmoloney commented on #2022
Just wondering the status of this ? @NyanKiyoshi

[2018-11-01 15:30] harshpanchal-hp commented on #3152
Getting Same thing with node 10.13
[npm.log](https://github.com/mirumee/saleor/files/2539082/npm.log)

[2018-11-01 17:29] t3c404 opened #3231 "Unable to add Attribute to multiple ProductTypes"
### What I'm trying to achieve
Add one attribute to multiple product types

### Steps to reproduce the problem
1. Create attribute "colour"
2. Create product type "Vases"
3. Create another product type "Tablecloths"
4. Add colour to Vases --> works
5. Add colour to Tablecloths --> doesn't work

### What I expected to happen
Add the attribute "colour" to product type "Vases" and "Tablecloths"

[2018-11-01 17:30] Pacu2 commented on #3231
That's a feature

[2018-11-01 20:06] NyanKiyoshi commented on #2022
I closed the PR since it was in a stagnant state and thus was needed to be redone for GraphQL and PWA. We need to prove that the user accept the selling contract, so I guess that we would need to force the user to set a parameter to `true` on the GraphQL API otherwise they cannot order anything. Which, proves the user accepted the contract and the seller received the customer's electronic signatur

[2018-11-02 08:17] Pacu2 commented on #3134
@gagantrivedi go for it!

[2018-11-02 10:33] maarcingebala commented on #3152
To make it clear - you're running `npm start` and get this error? What version of Saleor are you using? I'm looking at the current `package.json` and the in `start` command `UV_THREADPOOL_SIZE` variable isn't used (I remember it was a long time ago).

[2018-11-02 10:35] #3231 closed

[2018-11-02 10:40] maarcingebala commented on #2098
I cannot give yet any estimates on where we'll have it, but I'll put it as one of the priorities on our roadmap. It's an essential feature that a lot of users is asking about.

[2018-11-02 15:50] stephenmoloney opened #3235 "Migration error when using default currency that is not USD"
### What I'm trying to achieve

When moving to new dockerhub saleor image `558de3985903133660e97d8a436b374c405a2fa1`,
`https://hub.docker.com/r/mirumee/saleor/tags/`

Installation of saleor using a default currency that is not `USD`. In this case, DEFAULT_CURRENCY
was set to `GBP`

### Steps to reproduce the problem

`python3 manage.py migrate` on a clean installation

### What I expected to happe

[2018-11-04 01:27] Korred opened #3240 "Activating new PWA storefront"
### What I'm trying to achieve
Activating the new PWA storefront

### Steps to reproduce the problem
1. Deploy Saleor (according to installation guide)

### What I expected to happen
Access to new PWA storefront as seen in demo:
[https://demo.getsaleor.com/pl/](https://demo.getsaleor.com/pl/) access via banner to -> [https://pwa.getsaleor.com/](https://pwa.getsaleor.com/)

Either the installation

[2018-11-04 07:40] maarcingebala commented on #3240
Hey, the new storefront lives in a [separate repository](https://github.com/mirumee/saleor-storefront). To access it you have to set it up next to your running instance of Saleor. Take a look at the storefront's readme for instructions.

[2018-11-04 11:27] #3240 closed, assigned to nobody

[2018-11-05 13:21] #2673 closed

[2018-11-05 13:38] maarcingebala opened #3244 "Anonymize data produced by populatedb on demo"
As described in issue [#110](https://github.com/mirumee/saleor-storefront/issues/110) in Saleor Storefront repo - we should anonymize data produced by `populatedb` script to avoid confusion that we may be exposing personal data. This should be implemented only in `demo` branch.

[2018-11-05 14:04] #3171 closed

[2018-11-05 14:05] maarcingebala commented on #3152
Please reopen the issue if it still occurs.

[2018-11-05 14:05] #3152 closed

[2018-11-05 14:05] #3119 closed

[2018-11-05 14:13] maarcingebala commented on #2878
`AttributeValue` model already uses the `SortableModel` class which adds ordering functionality, we have to only make sure that values returned by the API actually use that ordering.
As for ordering of `Attribute` instances, `SortableModel` won't work because we have to sort attributes within a product type, not globally.

[2018-11-05 14:26] maarcingebala opened #3245 "Extract app-related resolvers and mutations to smaller modules"
Currently, most of the API resolvers and mutations are imported in `api.py` which makes the file large and unreadable. A much cleaner approach has been already implemented in `graphql/product` module, where all resolvers and mutations live in `schema.py` file. We should apply this pattern to all other graphql modules.

[2018-11-07 11:38] NyanKiyoshi opened #3249 "Gateway exceptions are not handled"
### What I'm trying to achieve
Not having a HTTP 500 when a bug occurs in a payment gateway.

### Steps to reproduce the problem
1. Edit `authorize()` in the dummy payment gateway so it raises an error when called;
2. Pay an order using the dummy payment gateway;
3. An internal error (HTTP 500) should happen;

### What I expected to happen
Having a message "An error occurred while handling your pa

[2018-11-07 11:41] NyanKiyoshi opened #3250 "Having saleor automatically enabling payment gateways if configured"
### What I'm trying to achieve
Configure braintree API keys, using environment variables and then, automatically having it enabled without changing anything in `settings.py`.

### Describe a proposed solution
Check if a API key was set, if it is, add it to the valid payment gateways in `settings.py` (`CHECKOUT_PAYMENT_GATEWAYS`).

### Other solutions I've tried and won't work
Adding manually each

[2018-11-07 11:41] NyanKiyoshi commented on #3250
If this is good as is, please assign me.

[2018-11-07 11:44] patrys commented on #3250
I would like to get rid of `CHECKOUT_PAYMENT_GATEWAYS` as a Django setting. This should be constructed when needed based based on what is configured and enabled.

[2018-11-07 12:05] NyanKiyoshi commented on #3250
Sounds good to me.

You do well of raising that point. I was thinking about `CHECKOUT_PAYMENT_GATEWAYS` being empty by default, then having a flag set through a variable environment, where `USE_DUMMY_PROVIDER = DEBUG`. If the value is `True`, it adds the dummy provider to the checkout gateways.

[2018-11-07 13:36] dominik-zeglen opened #3251 "'NoneType'"
### What I'm trying to achieve
…

### Steps to reproduce the problem
1. Use fresh saleor instance with `populatedb`
2. Execute query
[code]

with variables
[code]
3. Get an error
[code]

[2018-11-07 13:38] dominik-zeglen commented on #3251
It's worth noting that mutation itself works and updates cart.

[2018-11-07 16:08] scroogeT commented on #1251
Hello there I like Saleor a lot especially GDPR compliance & graphQL, it helped me a lot with my previous project.

I wanted to know, whats the status with the multi tenant/ multi-vendor option ? I want a storefront where I can add vendors who can sell on my site in the same way as Amazon or Ebay.

[2018-11-07 16:09] scroogeT opened #3252 "Multi Vendor"
### What I'm trying to achieve
Hello there I like Saleor a lot especially GDPR compliance & graphQL, it helped me a lot with my previous project.

I wanted to know, whats the status with the multi tenant/ multi-vendor option ? I want a storefront where I can add vendors who can sell on my site in the same way as Amazon or Ebay.

[2018-11-07 17:24] t3c404 opened #3253 "Variant on Dashboard shows all images instead just the variant image"
### What I'm trying to achieve
Add a product and add variants to it.
I expect, that the variant I select on the Dashboard shows just the image of the variant and not all the images from the product.

### Steps to reproduce the problem
1. Create a category Clothes
2. Create a product type T-Shirt
3. Create an attribute color and add it to the product type T-Shirt
4. Create a new product  and add at

[2018-11-07 17:52] patrys commented on #3250
What if we iterated over `PAYMENT_GATEWAYS` and asked each endpoint whether it was enabled passing it the site config and the currency? Then the dummy payment could say it was on if debug was on and Braintree could say it was on if we had API keys in place. I imagine the Razor Pay backend could say it was enabled only if the currency was INR and so on.

[2018-11-08 08:43] jdivins commented on #2533
Hi @raybesiga have you already got a solid deployment, and a documentation of it?
Thank you!

[2018-11-08 10:49] jdivins commented on #2533
And what about Google Cloud? I have found https://cloud.google.com/python/django/ could be a good start point?

[2018-11-08 11:40] raybesiga commented on #2533
This is a great option as well but I have not explored it. Do you have any experience with it @jdivins?

[2018-11-08 13:35] dominik-zeglen opened #3256 "Implement own GraphQLView with query batching feature"
### What I'm trying to achieve
To be able to combine multiple queries into one request.

### Describe a proposed solution
Add own view instead or relying on django-graphene's GraphQLView.

### Other solutions I've tried and won't work
Django-graphene is able to resolve multiple queries coming from one request, but requires requests to always contain list of queries. This is unacceptable as it requ

[2018-11-08 16:53] jdivins commented on #2533
Not with saleor. Maybe with the documentation https://cloud.google.com/python/django/ and with the [saleor deployment documentation](https://saleor.readthedocs.io/en/latest/deployment.html) we can achieve it, if anyone hasn't done it yet.

[2018-11-08 18:17] Pacu2 opened #3257 "ProductImage GraphQL type should contain alt_text"
We should expose the `alt` (text) on `ProductImage` type and all relevant types (eg. `Product` contains `thumbnail_url`).

All images on the storefront should contain an alt text for accessibility & SEO reasons.

[2018-11-08 18:33] Pacu2 commented on #3222
Please note: voucher should be validated on each step that Cart content changes.

Eg. shipping voucher might be valid only on shippment to certain countries, so we should handle that on shipping address change.

Some orders can be valid but only for orders over certain amount, so we should check if voucher is still valid on cart's items change (add/delete/change the quantity)

[2018-11-08 18:35] Pacu2 commented on #3249
We definitely do not want to send code throwing 500's into the production, shouldn't that happen at the gateway implementation level?

Have mixed feelings with wrapping the whole transaction in try-except "just in case".

[2018-11-08 18:48] Pacu2 commented on #3252
Hi @scroogeT, unfortunately, the multi-tenant option is not currently on our roadmap. I believe that Saleor can be used as a solid base in such case, as several modules could be reused, but that would still require some manual tweaking.

[2018-11-08 18:56] maarcingebala commented on #3252
Thanks for the issue @scroogeT! We are aware of anticipation for this feature and we want to put it on our roadmap for 2019. However, I cannot yet promise when we'll start working on it, as it will probably require rebuilding a lot of internal stuff in Saleor. I would advise following our blog for more information on our plans for future releases.

[2018-11-08 18:56] #3252 closed

[2018-11-08 18:56] maarcingebala commented on #3244
Resolved via #3246

[2018-11-08 18:56] #3244 closed

[2018-11-08 18:59] Pacu2 commented on #3244
Are Orders/Addresses created via the GraphQL API anonymized as well? I think that was my main concern in Saleor Storefront's issue.

[2018-11-08 19:10] maarcingebala commented on #3244
The mutation that creates orders uses `create_order` function underneath, the same the old storefront does. On `demo` branch this function anonymizes user's data after an order is created.

[2018-11-09 08:10] raviprakash007 opened #3259 "Webpage Error at first level"
### What I'm trying to achieve
I have done setup for saleor on Google Cloud Centos7 linux instance. I followed all instructions for installation of saleor  from https://docs.getsaleor.com/en/latest/gettingstarted/installation-linux.html.
Now I run the server on console.

(saleorenv) [bete-2@e-commerce saleor]$ sudo python3.6 manage.py runserver 0.0.0.0:80
Performing system checks...

System check

[2018-11-09 08:17] raybesiga commented on #2533
Do you want to start on it? I am a little busy at the moment but maybe I can join to help down the line @jdivins

[2018-11-09 08:37] RaviDon commented on #3259
Yes

$sudo Python3.6 manage.py migrate

[2018-11-09 09:06] raviprakash007 commented on #3259
Yes, I have used all the steps mentioned in installation documents and PGSQL shows 68 rows for tables in the database.

Again, I deleted database from pgsql and re-applied all migrations , but same issue.

[2018-11-09 09:08] raviprakash007 commented on #3259
(saleorenv) [beta-2@e-commerce saleor]$ sudo python3.6 manage.py migrate
Operations to perform:
  Apply all migrations: account, auth, checkout, contenttypes, discount, django_celery_results, django_prices_openexchangerates, django_prices_vatlayer, impersonate, menu, order, page, payment, product, sessions, shipping, site, sites, social_django
Running migrations:
  Applying contenttypes.0001_initi

[2018-11-09 09:10] Pacu2 commented on #3259
It seems like you've deleted all of the Saleor's migrations and recreated them from scratch, what's the reason? It won't work this way. If you want to minimize the number of migrations, you should squash them instead.

[2018-11-09 09:12] raviprakash007 commented on #3259
Should I re-install Saleor from scratch?

[2018-11-09 09:14] Pacu2 commented on #3259
You should include all the migrations that came originally with Saleor. It might be necessary to drop the database and reapply all of them.

[2018-11-09 09:20] fowczarek opened #3260 "Using anonymous API client in tests"
In pull request #3202, added anonymous API client used in tests. We should use this API client in every test which doesn't require the authenticated client.

[2018-11-09 09:36] raviprakash007 commented on #3259
Yeah, Its working now , Thanks @Pacu2  for your timely response. It saved my hours.

[2018-11-09 09:37] Pacu2 commented on #3259
Glad to see this resolved

[2018-11-09 09:37] #3259 closed

[2018-11-09 09:46] NyanKiyoshi opened #3261 "Saleor 2.0 and docs"
Hi,

I was wondering if there was any plan into updating the docs as Saleor 2.0 was updated.

First of all: the [logo](https://github.com/mirumee/saleor/blob/master/docs/logo.svg).

Then, maybe adding a bit of CSS to remove the hard blue with something else, same with the dark area if needed.

Is there any other change we should/ could do to make the docs fit with the 2.0 or anything planned?

[2018-11-09 09:49] Pacu2 commented on #3261
Sure, docs styling should be adjusted accordingly, we've discussed this internally, but not sure if we already have a vision on how we want them to look like, as we wanted to do something more than just a simple color change. Sphinx gives us lots of possibilities in here.

[2018-11-09 09:49] patrys commented on #3261
Yes, we're definitely planning a larger docs overhaul. Saleor's lead, @maarcingebala, is still in SF after attending the GraphQL Summit so expect the pace to pick up again next week.

[2018-11-09 09:52] NyanKiyoshi commented on #3261
Alright, thanks for the info! Sounds great.
I will close this as it's already something that is planned.

[2018-11-09 09:52] #3261 closed

[2018-11-09 11:23] dominik-zeglen opened #3262 "Catch all exceptions when decoding JWT token in TokenVerify mutation"
Currently, `TokenVerify` mutation returns an error if the token is malformed or is created with the different secret key. Instead, it should always return `null` if the token is not valid.

[2018-11-09 12:33] dominik-zeglen opened #3264 "`Attributes` field in product type should not be nullable"
### What I'm trying to achieve
To get product's attribute list.

### Steps to reproduce the problem
1. Execute the following query on a product with no attributes
[code]

### What I expected to happen
Instead of `null`, `[]` should be returned.

[2018-11-11 15:34] Pacu2 opened #3266 "Use VerstaileImageField to generate Category/Collection thumbnails"
At this moment, `background_image` of Categories and Collections are available only in their original size. We should generate thumbnails (using `create_thumbnails` function) to keep them consistent no matter of the original size.

We could start with just one size(universal, for setting it as a background_image on category/collection page), that could be used as a base for an potential expansion

[2018-11-11 16:37] NyanKiyoshi opened #3267 "Dashboard 2.0 doesn't warm-up product images"
### What I'm trying to achieve
Upload a product image to dashboard 2.0 and having them warmed-up through versatile.

### Steps to reproduce the problem
1. Upload a product image in dashboard 2.0;
2. Check if the image was warmed-up.

### What I expected to happen
Having the image warmed up using the thumbnails function, like in the legacy dashboard.

[2018-11-11 16:57] NyanKiyoshi opened #3268 "GraphQL collections mutations are not tested in the correct place"
~~Collections mutations are not tested.~~

Edit: they are into `test_product.py` instead of `test_collection.py`.

[2018-11-11 16:58] NyanKiyoshi opened #3269 "GraphQL cannot update background_image of a collection"
### What I'm trying to achieve
Upload a new `background_image` to a collection in dashboard 2.0.

### Steps to reproduce the problem
1. Edit a collection in dashboard 2.0.;
2. Upload a new background image;
3. You should get: `ERROR graphql.execution.utils graphql.error.located_error.GraphQLLocatedError: 'name'`

[2018-11-11 23:30] diramazioni opened #3274 "Product details doesn't show price/variant/add to cart"
### What I'm trying to achieve
Product details doesn't show price/variant/add to cart

### Steps to reproduce the problem
I've followed the docs install instructions

### Screenshots
![image](https://user-images.githubusercontent.com/682046/48319720-9432f480-e611-11e8-9561-38ef9a09a53c.png)

**System information**
Operating system: ubuntu 18.04
Browser: both firefox & chromium

[2018-11-11 23:42] diramazioni commented on #3274
`npm run build-assets --development`
made it work

[2018-11-12 00:17] chrisfranklin commented on #3235
Did you find a solution for this?

[2018-11-12 09:40] stephenmoloney commented on #3235
@chrisfranklin Not yet, I'm a bit busy for about another week. I will look into this more in about a week. The same error does not occur on older versions of saleor.

[2018-11-12 14:54] #3245 closed

[2018-11-12 15:04] #2618 closed

[2018-11-12 15:52] NyanKiyoshi commented on #3249
I guess the internal error could be a `5xx` HTML page on the web server, saying "Something went wrong when processing your request. Try again later, or contact us if the issue persists."

It really makes sense not to handle it with a try-except "just in case" as you say then. I guess that's not needed but just the job of the client (/web server) to render a message in the case of where something w

[2018-11-12 15:52] #3249 closed

[2018-11-12 16:08] NyanKiyoshi commented on #3250
We could define a function `is_available_for(payment)` in the gateway's module as you say. Thus we would make the payment API able to handle a multiple-currency shop.

Then, over the GraphQL API, we could have a field that does the same job when we fetch the gateways (we don't have a GraphQL API to fetch gateways yet, looks like?). So, depending on how we want to implement the gateway fetching, we

[2018-11-12 22:31] NyanKiyoshi opened #3277 "Dashboard 2.0's product dropdown does not open"
### What I'm trying to achieve
Open dropdowns in the product form.

### Steps to reproduce the problem
1. Edit a product;
2. Try to open any non-disabled dropdown.

### What I expected to happen
Having the dropdown opening when clicking on it.

---

**System information**
Operating system: ArchLinux
Browser: Firefox 62.0.2

---

Note: it works for other forms (e.g.: orders).

[2018-11-12 22:54] NyanKiyoshi opened #3278 "TaxRateType does not handle blank tax rates"
### What I'm trying to achieve
View product types.

### Steps to reproduce the problem
1. Go to the settings of dashboard 2.0 (reproducible on the demo as well);
2. Open the product types;
3. It should crash (works on clean db + populatedb) [`Expected a value of type "TaxRateType" but received: `].

**System information**
Operating system: ArchLinux
Browser: Firefox 62.0.2

### Request
[code]

###

[2018-11-12 23:20] NyanKiyoshi commented on #3278
The reason of this error is from here:
https://github.com/mirumee/saleor/blob/049dc5c945145cc464cff526074d8fba07919aff/saleor/static/db.json#L93

`tax_rate` can be blank if there is no tax rate associated (I guess that's the reason), the `TaxRateType` enum is not handling the blank value.

[2018-11-13 10:54] #2644 closed

[2018-11-13 10:54] #3267 closed

[2018-11-13 11:15] #3185 closed

[2018-11-13 12:38] #3266 closed

[2018-11-13 12:38] #3268 closed

[2018-11-13 17:23] #2775 closed

[2018-11-13 17:43] suraj1986 commented on #3274
I am getting the same error and doing the npm run build-assets --development is not working .

[2018-11-14 10:33] jdivins commented on #2694
@stephenmoloney have you finally created the helm charts?
Can you share them?
Thank you

[2018-11-14 10:54] stephenmoloney commented on #2694
@jdivins I have taken that effort offline in a private repo for now. I have made substantial progress, basically it works. I'm busy for the next few days. I'll update the PR within the next 10 days.
I'll let you know. It would be great to get feedback when I update the PR.
#2702

[2018-11-14 10:56] jdivins commented on #2694
Ok! Thank you very much! I haven't seen the PR.

[2018-11-14 10:59] stephenmoloney commented on #2694
Yea, I'd encourage you to wait until I've updated the PR though. I've made some decent progress and improvements beyond what's there now. I just don't have time to update it at the moment.

[2018-11-14 13:58] patrys opened #3284 "Upgrade Material UI to version 3.5.x+"
Unfortunately it's not an easy task as we've adopted a no longer working pattern of applying `withStyles`.

We should update our components to use `WithStyles` and `createStyles` where necessary. The docs are here: https://material-ui.com/guides/typescript/#augmenting-your-props-using-withstyles

This blocks upgrading Apollo and TypeScript as the 1.x.x builds of Material UI result in incorrect com

[2018-11-14 16:18] maarcingebala opened #3285 "Add viewer query"
With PR #3202 we've added ability to get the data of currently logged in user with the `user` query. I would recommend refactoring it a little bit and introducing a separate query for that. The problem with the `user` query is that it expects the `ID!` argument, but it also accepts passing `""` as ID value to resolve the logged in user. This brakes the single-responsibility rule (which is a good p

[2018-11-14 17:04] dominik-zeglen opened #3286 "svg-url-loader adds doublequote to SVG path in storybook"
There is a bug in storybook causing to render inline SVGs with additional text node with `"` content.
It is related to svg-url-loader in storybook's default webpack config.

[2018-11-15 17:48] nilbacardit26 opened #3291 "Getting Product images from Google Cloud Storage"
### What I'm trying to achieve
I am trying to use my google cloud storage full of pictures in order to feed the images of the products

### Describe a proposed solution
Maybe REST wrapper that allows the user to integrate his bearer token in order to have access to the cloud storage

Is there a way to achieve this without having to download all the images?

Thank you!

[2018-11-16 08:09] ClaudiuPID opened #3292 "Psycopg2 binary for production?"
According to the official documentation: http://initd.org/psycopg/docs/install.html#binary-install-from-pypi

And some more details why one should not use -binary version in production: http://initd.org/psycopg/articles/2018/02/08/psycopg-274-released/

But maybe I am missing something and you have a good reason for using binary version.

[2018-11-16 10:07] #3172 closed

[2018-11-16 10:07] #3184 closed

[2018-11-16 10:12] patrys commented on #3292
Saleor is not a library so I don't think the "publish package depending (...)" part applies. We use the binary package so it's possible to install Saleor on Windows without having to install Visual Studio and a bunch of other tools first.

[2018-11-16 14:18] #3264 closed

[2018-11-16 14:52] dominik-zeglen opened #3294 "Error resolving ProductType with no TaxRateType"
### What I'm trying to achieve
To resolve `TaxRateType` on `ProductType`, when it's set to null.

### Steps to reproduce the problem
1. Execute query
[code]
2. Get an error
[code]

[2018-11-17 08:59] ClaudiuPID commented on #3292
Please take a look at the second link I posted. I was in that situation, reason why I opened this issue.
It is no big deal, cloning the repo and changing requirements.txt is nothing to worry about.
This was more of a heads up if you guys did not know about it already.

[2018-11-17 17:20] dinhnghia opened #3297 "Variant picker not working in storefront"
<img width="1422" alt="screen shot 2018-11-18 at 12 19 41 am" src="https://user-images.githubusercontent.com/13850307/48663786-aefce180-eac7-11e8-8564-85adc5848e01.png">

[2018-11-17 17:42] dinhnghia commented on #3297
@maarcingebala @dominik-zeglen

[2018-11-18 06:06] dinhnghia commented on #3136
I have the same problem, have you fixed it yet?

[2018-11-18 06:29] dinhnghia commented on #3274
I have the same problem, have you fixed it yet?

[2018-11-18 08:08] suraj1986 commented on #3274
No it's not yet solved

On Sun 18 Nov, 2018, 11:59 AM Võ Đình Nghĩa <notifications@github.com wrote:

[2018-11-18 12:30] diramazioni commented on #3274
have you tried to run
`npm start`
Either this or the other command solved the issue for me

[2018-11-19 09:47] Pacu2 opened #3298 "Lack of support for IE11"
We are missing some babel modules, and the site does not work under IE11.
It's still between 3 to 6% market share

[2018-11-19 13:27] harinath141 opened #3299 "Dropdown not showing states"
On selection of country india,state dropdown not populating state list.

[2018-11-19 13:29] Pacu2 commented on #3299
Could you provide more information? Where does it happen? Is it checkout, your account details, dashboard?

[2018-11-19 13:35] maarcingebala commented on #1666
I think we can close this issue since we have [saleor-storefront](https://github.com/mirumee/saleor-storefront). 🙂

[2018-11-19 13:35] #1666 closed

[2018-11-19 13:46] harinath141 commented on #3299
@Pacu2 while checkout from storefront.

[2018-11-19 13:48] Pacu2 commented on #3299
Works for me on the demo store.
Could you provide complete steps to reproduce?
![screenshot 2018-11-19 at 14 48 00](https://user-images.githubusercontent.com/21290461/48710932-220e7100-ec0a-11e8-8247-3eefa67e3bec.png)

[2018-11-19 14:16] harinath141 commented on #3299
@Pacu2 yeah its populating might be issue with connectivity thanks for the prompt response.I'll close the issue.

[2018-11-19 14:16] #3299 closed

[2018-11-19 14:30] stephenmoloney commented on #3235
@Pacu2
Have you encountered this issue?

It could be due to some changes in this commit:
`https://github.com/mirumee/saleor/commit/c62998843b3faaaa911de00d51884e601a1cb834#diff-703f34f1c35686322145c8a0ae145792`

I'm not really able to assess this easily.

[2018-11-19 15:02] maarcingebala opened #3300 "Use enums as sorting arguments"
In queries, the supported sorting options should be represented as enums. Now we use strings, so API consumers are not able to determine what options are available.

Currently, this issue applies only to one query:
- `products(sortBy: String)`

Available sorting fields (based on Dashboard 2.0 and storefront) are now: `price`, `name`.

Schema that would solve the issue (inspired by Github API v4):

[2018-11-19 15:11] maarcingebala opened #3301 "Require providing "first" or "last" arguments in connection fields"
Connection fields should require passing `first` or `last` arguments in order to always use pagination and avoid potentially expensive queries fetching whole collections. Graphene provides a setting that enables that requirement: `RELAY_CONNECTION_ENFORCE_FIRST_OR_LAST`.

[2018-11-19 15:29] maarcingebala commented on #3297
Closing in favor of #3274

[2018-11-19 15:29] #3297 closed

[2018-11-19 15:36] imehmood commented on #2244
I am facing same problem although I have postgresql-contrib already installed  as shown below. Any idea?
Cent OS 7
$ sudo yum install postgresql-contrib
Package postgresql-contrib-9.2.24-1.el7_5.x86_64 already installed and latest version
Nothing to do

[2018-11-19 18:51] harinath141 opened #3304 "Integrated cod but after payment not redirecting"
I integrated cod option by adding django-payments-cod to installed apps and by tweaking below

[code]
[code]
 in settings file
The problem I am currently facing is after making payment its freezing without redirecting to order success or payment success page.
<img width="1196" alt="screen shot 2018-11-20 at 12 18 00 am" src="https://user-images.githubusercontent.com/17981729/48728092-02069e00-ec5a

[2018-11-19 18:55] Pacu2 commented on #3304
Django payments are not compatible with Saleor anymore. We've dropped it for our custom solution, and payment gateways should be integrated directly into Saleor.

We have a guide on adding new payment methods in https://docs.getsaleor.com/en/latest/guides/payments.html#adding-payments

[2018-11-19 18:55] #3304 closed

[2018-11-20 01:09] NyanKiyoshi commented on #3294
Not only if it's set to null, but also when `tax_rate` is blank (as it is allowed to be blank in the models and an empty tax rate is inserted during the db populate), it still tries to convert it to the TaxRateType `enum`: https://github.com/mirumee/saleor/issues/3278#issuecomment-438065757.

[2018-11-20 05:03] suraj1986 commented on #3274
Doing the above steps also not fixed the issue .Please see the error in console [.[](url)](url
<img width="1251" alt="screen shot 2018-11-20 at 10 29 23 am" src="https://user-images.githubusercontent.com/4092926/48752505-a109b500-ecaf-11e8-8f1b-5789d784df76.png">
)

[2018-11-20 05:30] suraj1986 commented on #3274
also ,Doing repeatedly .npm -i
Getting these warning as well.
 npm i
npm WARN babel-loader@7.1.4 requires a peer of babel-core@6 but none is installed. You must install peer dependencies yourself.
npm WARN awesome-typescript-loader@5.2.0 requires a peer of typescript@^2.7 but none is installed. You must install peer dependencies yourself.
npm WARN bootstrap@4.1.2 requires a peer of popper.js@^1.14

[2018-11-20 09:45] nilbacardit26 commented on #3291
This PR solves the issue, I can confirm it works locally. I've only tried serving the media files from my google cloud storage bucket using a service account key.json
https://github.com/mirumee/saleor/pull/2626

[2018-11-20 09:45] #3291 closed

[2018-11-20 09:47] patrys commented on #3294
We should fix this by ensuring we don't have products with invalid/missing tax rates. Everything that is not explicitly assigned to a special group should be assigned to default.

[2018-11-20 09:54] maarcingebala commented on #3294
So maybe we should remove `blank=True` from models and ensure that we always set the default tax rate? Originally I thought that having `null` is fine - if you don't use taxes and even the "standard" rate doesn't make sense, you wouldn't ever set any value for that field.

[2018-11-20 10:45] maarcingebala commented on #3012
There is also `collections` connection in the Product type. I don't think it's necessary to paginate them as well.

[2018-11-20 10:47] maarcingebala commented on #3008
Related fields that I think should be changed to lists:
- [ ] `Checkout.payments`
- [ ] `Order.payments`

[2018-11-20 10:52] patrys commented on #3294
Well, if you don't apply taxes then I guess "standard" is not to apply a tax 😄

[2018-11-20 11:04] #3134 closed

[2018-11-20 11:32] maarcingebala commented on #3008
- [ ] `User.addresses` - no need to paginate them as well.

[2018-11-20 12:54] dominik-zeglen opened #3305 "Embed `encodeURIComponent` in url generating functions"
We can write wrapper functions to current url generators to embed `encodeURIComponent` there, eg.

```export const orderUrl = (id: string) => urlJoin(orderSectionUrl, id);```

would become

[code]

This way we can omit repeating pattern `orderUrl(encodeURIComponent(id))` in favor to `orderUrl(id)`.
Also, this would require using `...Path() functions` in `<Route />` components, as they should not b

[2018-11-20 13:51] EinsteinYang commented on #3033
I am going to try to do such a integration

[2018-11-20 16:30] dominik-zeglen opened #3306 "Can't update order addresses when user is anonymous"
### What I'm trying to achieve
To update order shipping/billing address using API.

### Steps to reproduce the problem
1. Execute query
[code]
2. Get an error
[code]

### What I expected to happen
To correctly update the address.

[2018-11-21 08:19] NyanKiyoshi commented on #3136
Did you try this as well?

[2018-11-21 09:11] maarcingebala commented on #3285
Another name that seems commonly used for such query is `me` - which I also like, simple, short and understandable 🙂

[2018-11-21 11:05] homepods opened #3308 "storefront.js:144 Uncaught TypeError: Cannot read property 'isPrototypeOf' of undefined"
### What I'm trying to achieve
I am building a template around the core of the base template.
I am not changing the logic within the hierarchy

### Steps to reproduce the problem
When I try to update the cart i get this error.

### What I expected to happen

To find the bug

### Screenshots

storefront.js:144 Uncaught TypeError: Cannot read property 'isPrototypeOf' of undefined
    at J (storefron

[2018-11-21 14:30] #2884 closed

[2018-11-22 10:18] mdnur89 opened #3313 "npm install error"
Hi there, I've just finished installing the requirements but I leftout uwsgi package as it always fails with a missing module but I read somewhere that it has issues on win10 and it isn't necessary for development purposes.

I use anaconda for my development environments with python 3.6.6.... Moving on to invoking npm install, I'm getting an error :
$ npm warn tar ENOENT no such file or directory

[2018-11-22 10:59] mdnur89 commented on #3313
@Pacu2 Yes I believe I am, that's the root of saleor-master that has the package.json file as well as the manage.py file right?

[2018-11-22 11:10] mdnur89 commented on #3313
@dominik-zeglen Okay, here below are my cli logs aswel as the npm.logs :

CMD ......
(nuttyhoggz_var9) C:\Users\kaukau\AnacondaProjects\Django_projects\web_project00i\nuttyhoggz_var9\saleor-master>npm install
npm WARN tar ENOENT: no such file or directory, open 'C:\Users\kaukau\AnacondaProjects\Django_projects\web_project00i\nuttyhoggz_var9\saleor-master\node_modules\.staging\tslint-e7d240f4\bin\t

[2018-11-22 11:17] mdnur89 commented on #3313
@dominik-zeglen These below are the other logs from the initial error after invoking npm install first time around:

CMD....
(nuttyhoggz_var9) C:\Users\kaukau\AnacondaProjects\Django_projects\web_project00i\nuttyhoggz_var9\saleor-master>npm install
npm WARN tarball tarball data for webpack-dev-server@3.1.5 (sha512-LVHg+EPwZLHIlfvokSTgtJqO/vI5CQi89fASb5JEDtVMDjY0yuIEqPPdMiKaBJIB/Ab7v/UN/sYZ7WsZvntQ

[2018-11-22 12:31] ayushgangrade11 opened #3314 "Can I list all categories in a single page ??"
### What I'm trying to achieve
… I am trying to add all the categories in a single page and when customer clicks SHOW NOW on home page, he should be landed on that page

### Describe a proposed solution
... Ideally a django view which has access to all the categories and list them together to make urls.

### Other solutions I've tried and won't work
… Haven't tried anything yet

### Screenshots or

[2018-11-22 12:32] Pacu2 commented on #3314
I don't think we have such view in Saleor,  that should be a part of your local customization.

[2018-11-22 12:32] #3314 closed

[2018-11-22 12:45] NyanKiyoshi opened #3315 "Create sub-categories for random data"
I noticed that the demo doesn't have any sub-categories anymore, thus we don't have access to this feature. Shouldn't we add some again? (#2056)

[2018-11-22 13:52] jxltom commented on #3313
I feels like it is caused by network error or privilege issues.

I'm not sure if it will work or not, but I would recommend you to delete ```node_modules``` inside your project, run CMD with admin privilege and re-run ```npm install``` again.

[2018-11-22 15:26] dominik-zeglen opened #3317 "API should be able to finalize draft without pinning it to a customer"
### What I'm trying to achieve
To finalize an order, when `user` and `user_email` are `None` in `Order` model.
Justification: sometimes the user wants to add order that had been placed physically, and has no data about the customer.

[2018-11-22 15:28] dominik-zeglen opened #3318 "Return `canFinalize` flag in draft order"
### What I'm trying to achieve
To get an information whether a draft order can be finalized or not. This way we can avoid duplicating logic in the dashboard.

[2018-11-22 17:04] mdnur89 commented on #3313
@jxltom Okay, let me try your proposed resolve to my issue. Though I did run it in admin privileges when I got the ENOENT error, didn't think of deletion then.

[2018-11-22 19:46] h3 commented on #2051
I have a simple solution using templatetags, sorry the project I'm working on is pre PWA :/

**myapp/templatetags/similar_products.py**:

[code]

**templates/product/detail.html**:

[code]

Also modified **templates/product/_items.html**:

{% for product, availability in products %}
  {% include "product/_item.inc.html" with product=product %}
{% endfor %}

Moved everything in **templates/product/

[2018-11-22 20:55] NyanKiyoshi commented on #3277
Anybody tried to reproduce it and found the possible faulty part?

I'm bumping the as it's still waiting for triage. I could take a look later next month if nobody assign themselves.

[2018-11-22 22:14] maarcingebala commented on #3277
@dominik-zeglen Maybe you would have some time to take a look at this tomorrow?

[2018-11-22 22:44] Mistobaan opened #3319 "Support for Appengine"
### What I'm trying to achieve
Be able to run sale or over appengine

### Describe a proposed solution
Show a set of steps to run the project on appengine

### Other solutions I've tried and won't work
It runs on heroku so it should be possible to run on Appengine as well

[2018-11-23 01:33] jxltom commented on #3315
Just mentiion it here the demo doesn't have sales neither.

[2018-11-23 01:40] jxltom commented on #3319
For the free tier, does it support run as 24/7/365 service?

I checked the doc it saids ```28 frontend instance hours per day, 9 backend instance hours.``` I think saleor can run as a ```frontend instance```?

[2018-11-23 04:26] BenSturmfels opened #3320 "Allow rectangular product images"
Hi Folks,

It looks as though commit 20a67e79 removed the ability to have rectangular product images (rather than the square defaults). The `get_thumbnail` tag used to support a size like `100x200`, eg.

`{% get_thumbnail product.get_first_image method="thumbnail" size="100x200" %}`

Now it only takes a single size integer and automatically squares it as in the following, meaning that the above us

[2018-11-23 06:12] BenSturmfels commented on #3320
This is made harder still by the Javascript in `static/js/components/misc.js:36` that applies CSS to force the image height to be set to the width:

`$('.product-image').css({'height': productImageWidth + 'px'});`

And by switching from method `crop` to `thumbnail` (see above), rectangular images now don't thumbnail to a consistent size, making it fairly easy to mess up a float layout.

[2018-11-23 09:03] maarcingebala commented on #3315
We can re-iterate on the products catalog and introduce some subcategories. They were removed when we made new products for Saleor 2.0 release. It wasn't intentional, I think we just forgot that we can have them 😉

[2018-11-23 09:04] maarcingebala commented on #3315
@timcla Maybe you'd had some time to take a look at the current structure and propose some subcategories?

[2018-11-23 09:38] timcla commented on #3315
(Current...)

ACCESSORIES
Homewares
Paints

APPAREL
T-shirts
Polo shirts
Hoodies
Footwear

GROCERIES
Juices
Alcohol

----

(planned...)

ACCESSORIES
Homewares
Paints
Music
Mugs

APPAREL
T-shirts
Polo shirts
Hoodies
Footwear

GROCERIES
Juices
Alcohol
Coffee
Tea
Oil

[2018-11-23 09:52] patrys commented on #3320
Dashboard code will center any image within a square box and that's by design as we have to accommodate all sorts of ratios there. For your own storefront you are not limited to any shape. The size param specifies the limit on the longer side, we don't crop (or at least we shouldn't, if we do it anywhere, it's a bug) images so the resulting thumbnail is going to have the same aspect ratio as the o

[2018-11-23 10:39] #2634 closed

[2018-11-23 13:45] patrys commented on #3320
We try to avoid `crop` as it can do more harm than good, chopping off parts of the product in the process.

[2018-11-23 15:09] #3256 closed

[2018-11-23 15:43] mdnur89 commented on #3313
@jxltom Hi there , I tried your proposed resolve of deleting the node_modules folder and invoking the npm install command with admin privileges and I am getting a tarball data is corrupt and the ENOENT error like before.
Below is the cli log after failing:

-------

[        ..........] | extract:detect-passive-events: sill extract detect-passive-events@1.0.4 ext[        ..........] - extract:dete

[2018-11-23 16:08] #3012 closed

[2018-11-24 06:33] mdnur89 commented on #3313
No I don't think so, my firewall is turned off completely amongst other things. I've never encountered problems with npm install before.

Is it safe to assume that one can't do a npm install by manually downloading the tarballs then point the npm install to a local folder containing the tarballs? Not sure if this can be a solution.

[2018-11-24 14:59] itbabu opened #3323 "Payment gateways with redirects after dropping django payments"
Hello,

A lot of gateways redirect customers to an external website during the payment process.

After Django payments was dropped from Saleor I can't find a proper way to integrate these payment methods in the current workflow without changing the new payment app.

Are you going to manage these payment gateways as django payments did (```RedirectNeeded```, etc)?

[2018-11-25 09:38] ayushgangrade11 opened #3324 "Error in dashboard when a previously added image is deleted from the original location for a product."
### What I'm trying to achieve
…

### Steps to reproduce the problem
1.
2.

### What I expected to happen
…

### Screenshots

**System information**
Operating system:
Browser:
![bug](https://user-images.githubusercontent.com/22194213/48977627-e9680f00-f0c3-11e8-87e3-4bff52b23fc5.PNG)

[2018-11-25 09:41] Pacu2 commented on #3324
Could you please provide steps to reproduce?

[2018-11-25 11:17] Sshuichi opened #3325 "[Docker] The SECRET_KEY setting must not be empty."
### What I'm trying to achieve
Install and run Saleor on Docker in production

### Steps to reproduce the problem
1. docker build -t mystorefront .
2. docker run mystorefront:latest

### What I expected to happen
Launch the store on port 8000

### Screenshots
![image](https://user-images.githubusercontent.com/5939429/48978439-d3a71980-f0c4-11e8-8acf-da00e6d83c43.png)

**System information**
Operat

[2018-11-25 15:00] Pacu2 commented on #3325
For local development you might want to use `docker-compose up`

Env variables are listed here: https://docs.getsaleor.com/en/latest/gettingstarted/configuration.html

[2018-11-25 15:02] Sshuichi commented on #3325
Hi @Pacu2, this is not for development, it's for production.

[2018-11-25 15:39] Sshuichi commented on #3325
I'm really confused here and I don't know how to deploy using docker. I'm still getting this error.
What are the correct steps please?

[2018-11-25 17:57] Sshuichi commented on #1402
The page you referred to is not found @patrys

[2018-11-25 18:34] suraj1986 commented on #3274
@maarcingebala any  help or suggestion ?

[2018-11-26 01:52] jxltom commented on #3324
i think it should be fine if you delete product image from dashboard. Do not delete from local ```media``` directory directly.

[2018-11-26 02:34] jxltom commented on #3325
Please try ```docker run -e SECRET_KEY=*** -e DATABASE_URL=*** -p 8000:8000 saleor```

[2018-11-26 02:50] BenSturmfels commented on #3320
Preferring `thumbnail` is fine, it's just confusing that there's a `method` argument to  the `get_thumbnail` template tag which really only works properly for the `thumbnail` method.

Perhaps the `method` argument should be dropped? At least this would send a clear signal that if you want something else, you need to do it yourself (as I've reallised I have to do in this case).

[2018-11-26 03:45] Sshuichi commented on #3325
Are those parameters (-e DATABASE_URL=*** ) referring to docker's postgres?

[2018-11-26 03:48] jxltom commented on #3325
It can be any postgres database owned by you. You can run postgresl via docker or buy postgreql from cloud provider.

[2018-11-26 03:50] Sshuichi commented on #3325
But isn't that docker's purpose? To have everything in a single container that doesn't affect the system you're working on?
I really don't want to run postgres outside docker as I think it'd become harder to maintain..

[2018-11-26 03:54] jxltom commented on #3325
Sure, then you can run another postgresql container via docker. You can not setup multiple services in one container. So I would recommend you use ```docker-compose```. Refer https://docs.getsaleor.com/en/latest/customization/docker.html

[2018-11-26 03:55] Sshuichi commented on #3325
Thanks for your comment, but isn't that, per say, for development and not for production?

[2018-11-26 03:55] jxltom commented on #3325
Or you can run ```docker run -d -e POSTGRES_USER=saleor -e POSTGRES_PASSWORD=saleor postgres:9.6-alpine``` to startup your postgresql service. Then you database url would be ```postgres://saleor:saleor@localhost:5432/saleor```

[2018-11-26 03:57] jxltom commented on #3325
IMO, docker-compose can be used for production, only if you setup correctly

[2018-11-26 03:59] Sshuichi commented on #3325
Ok, let's see what the maintainers have to say in this.
Thanks for your efforts.

[2018-11-26 06:09] mdnur89 commented on #3313
@jxltom I wanted to know if it's possible to do <npm install> on another machine and if it runs successfully can I just copy the node_modules folder to my development machine given that I use the same version of node and npm or it's much more complicated than just a copy and paste?

Please advise.

[2018-11-26 06:18] jxltom commented on #3313
Oh I have never had that experience. But I think it probably will work (but not sure) only if the machine are same operation system. Coping node_modules from windows to linux won't work since some modules requires builds during installation.

[2018-11-26 06:59] mdnur89 commented on #3313
@jxltom Yeah it's win10 to win10 and from gitter/nodejs someone said it works doing a copy and paste after a successful npm install with the same node and npm version. I'll give it a shot and I'll let you know on the results.

 But just to confirm, npm install creates the node_modules folder only right? And the next npm commands, do they need an internet connection or they work using the contents

[2018-11-26 07:07] jxltom commented on #3313
Yeah, it will only install to ```node_modules``` AFAIK. The ```npm run build-assets``` and so on does not needs internet connections. They will use ```node_modules``` since it stores the packages depedencies.

[2018-11-26 08:40] Sshuichi commented on #3325
Yes, the env command gives the secret_key I set. But I noticed it got reset every time I ssh to my server.
Should I set it inside docker or the ubuntu server?

[2018-11-26 08:45] Sshuichi commented on #3325
I added the export command to .bash_profile and now it's persisted. But so is the problem :)

[2018-11-26 10:00] maarcingebala commented on #3008
Resolved in #3307

[2018-11-26 10:00] #3008 closed

[2018-11-26 10:00] maarcingebala commented on #3011
Resolved in #3307

[2018-11-26 10:00] #3011 closed

[2018-11-26 10:03] patrys commented on #3325
@jxltom is right. You need to set the environment variable from outside the Docker. Either give it explicitly when starting docker (`docker run -e SECRET_KEY=soverysecret ...`) or export it in your startup script and tell Docker to use the value (`docker run -e SECRET_KEY ...`).

[2018-11-26 10:32] Sshuichi commented on #3325
Thanks for the confirmation.
Thanks to @jxltom too. I'll try and get back to you.
More stress for a detailed documentation.

[2018-11-26 11:45] diramazioni opened #3328 "Language picker in master doesn't apper to be working (but it does)"
### What I'm trying to achieve
As you can see going to the [live demo](https://demo.getsaleor.com/pl/) you can't switch language from the language picker

However in my local instance while customizing i18n messages and running as in [the doc](https://docs.getsaleor.com/en/latest/customization/i18n.html)
`python manage.py makemessages -l en --extension=email,html,mjml,py,txt --ignore="templates/te

[2018-11-26 11:54] Sshuichi commented on #3325
UPDATE, the server runs without issues, but when I try to connect to ip:8000 the connection is refused.
Any idea why? I checked iptables, explicitly allowd tcp on 8000 but still connection refused.

[2018-11-26 12:02] NyanKiyoshi commented on #3324
I second @jxltom.
I think the error is part of django-versatileimagefield trying to get the image. If somehow, you want to delete images in the `media` directory, you should set `CREATE_IMAGES_ON_DEMAND` to `False`.

[2018-11-26 12:05] jxltom commented on #3325
It should be accessed in ```127.0.0.1:8000```.

For accessed via ```0.0.0.0:8000```, probably you need to setup proxy if your server is running behind a reverse proxy such as nginx

[2018-11-26 12:14] NyanKiyoshi opened #3330 "Enforce LF line ending in the repository, instead of letting git chose"
### What I'm trying to achieve
Have the `LF` line ending enforced in the git repository instead of letting git choose depending on the user's local or global git configuration ; which, on Windows, git line endings are defaulting to `CRLF`.

### Describe a proposed solution
In `.gitattributes`, add:
[code]

[2018-11-26 12:14] Sshuichi commented on #3325
I don't think it works:
curl: (7) Failed to connect to 127.0.0.1 port 8000: Connection refused

[2018-11-26 12:18] #3325 closed

[2018-11-26 12:19] jxltom commented on #3325
Have you you added ```-p 8000:8000``` in ```docker run```?

Besides, are you sure you have never set ```PORT``` environment varialble other than ```8000```?

[2018-11-26 12:21] Sshuichi commented on #3325
I didn't change anything in that. it's by default.
EXPOSE 8000
ENV PORT 8000

[2018-11-26 12:31] Sshuichi commented on #3325
It works thanks a lot.
Why do you think the initial config didn't work out?

[2018-11-26 12:34] jxltom commented on #3325
It is because EXPOSE only make the port be accessed within docker. ```-p``` which is publish argument make it can be accessed anywhere.

[2018-11-26 12:43] #3285 closed

[2018-11-26 12:47] Sshuichi commented on #3325
Awersome. Thanks a lot for all the help.

[2018-11-26 13:04] dominik-zeglen opened #3331 "Modals should be able to display loading and error state"
At this moment modal windows do not give feedback if action is being executed after clicking 'Confirm' button. They should use `<ConfirmButton />` component instead of the ordinary `<Button />`.

Blocked by #3129
Blocked by #2578

[2018-11-26 13:19] johnchendev opened #3332 "Unable To Start Server On Second Try"
### What I'm trying to achieve
…

Start Saleor server on second try.

### Steps to reproduce the problem
1. cd/saleor
2. python manage.py runserver

### What I expected to happen
…server starts as per first run

### Screenshots

**System information**
Operating system: Mac Mojave
Browser: Chrome

### Details

Hi guys, it's funny why this is happening, but I can run Saleor on the browser loading ev

[2018-11-26 13:23] #2667 closed, assigned to nobody

[2018-11-26 14:32] johnchendev commented on #3332
Hi @Pacu2 , thanks for the quick reply. Not sure what you mean by that - is there any reference material that you can refer me to, please? Thanks a lot

[2018-11-26 14:36] NyanKiyoshi commented on #3332
@johnchendev you can refer to the [documentation](http://docs.getsaleor.com/en/latest/gettingstarted.html) in the guide of your according OS.

[2018-11-26 14:38] johnchendev commented on #3332
@NyanKiyoshi thanks for your reply. However, I follow these instructions (MacOS), and was able to get the server running on the first try. As per my reply to @Pacu2, the problem arises when I close the terminal, reopen a session, and load:

`python manage.py runserver`

That's where the Traceback above happens :)

[2018-11-26 14:45] NyanKiyoshi commented on #3332
@johnchendev I guess you did:
1. `export SECRET_KEY='<mysecretkey>'`;
1. Closed your terminal;
1. Opened it back;
1. Ran `runserver` and expected the `SECRET_KEY` to be set?

If so, no, that's not how that works. The environment variables (`SECRET_KEY`) are lost whenever you close your terminal's session. So, whenever you are reopening your terminal, you need to set the `SECRET_KEY` again.

There

[2018-11-26 14:48] johnchendev commented on #3332
@NyanKiyoshi thanks again!

I did another method which I think might be wrong - no harm trying though.

1. I went to /saleor/settings.py
2. Added in my secret key beneath : SECRET_KEY = os.environ.get('SECRET_KEY')
3. Ran the server again and it worked!

@NyanKiyoshi I'm going to try your methods, and report back. But for the sake of helping a newbie out, which one do you think is the most secure

[2018-11-26 14:51] NyanKiyoshi commented on #3332
Whatever you prefer/ are the more comfortable with. The issue with editing the `settings.py` file is that it may create conflict with the git repository. It's easier to manage untracked (or tracked) custom files than a tracked project file that is subject to change.

Then, once you get Saleor into production, you will probably use a file, like `production.env` that you will `source` whenever you s

[2018-11-26 14:54] johnchendev commented on #3332
@NyanKiyoshi i hear you.

Assuming I were to follow point 2 (Create a .env file with: export SECRET_KEY=hello and whenever you want to run the server, run source .env then, python manage.py runserver.)

What are some references would you recommend (if you had the time) for me to go about create these Env files?

[2018-11-26 14:54] NyanKiyoshi commented on #3332
What do you mean by 'references'?

[2018-11-26 14:55] johnchendev commented on #3332
References as in - tutorials, step by steps 🍡

[2018-11-26 15:10] NyanKiyoshi commented on #3332
Alright. That doesn't really need any tutorial. Here are some explanations:

- First of all, you create a file, let's say: `development.env`, in the Saleor project directory;
- Then, in it, you put:
[code]
- Whenever you open a terminal, you will do a `source development.env` (or `. development.env`, that's the short hand for `source`). Now you can run whatever you want with `python manage.py`.

S

[2018-11-26 16:43] maarcingebala commented on #3320
I agree - we should drop the `method` argument to avoid confusion.

[2018-11-26 17:12] davenlin19 opened #3335 "Can't create super user inside docker container"
### What I'm trying to achieve
I'm using docker to create an droplet in digitalocean. After doing `docker-compose up --build -d`, the website works. Then I create a super user. It didn't work, it seems like the web container cannot connect to the database, but I don't understand why `python manage.py migrate` worked.

### Steps to reproduce the problem
1.  `docker exec -it saleor_web_1_02190129 py

[2018-11-26 17:33] NyanKiyoshi commented on #3320
Looks like it's safe to drop, there is no code using `crop` for thumbnails. Maybe we could add a constant settings setting the default method to `thumbnail`? (e.g.: on my production fork, we use a custom method than `thumbnail`)

[2018-11-26 17:42] davenlin19 commented on #3335
It looks like because the search container keeps restarting. So it was not available at the moment it was called.

<img width="738" alt="screen shot 2018-11-27 at 00 41 07" src="https://user-images.githubusercontent.com/3631130/49031653-28d64e80-f1dd-11e8-9ad2-37d222ec1b9d.png">

<img width="653" alt="screen shot 2018-11-27 at 00 40 13" src="https://user-images.githubusercontent.com/3631130/490316

[2018-11-26 19:51] NyanKiyoshi opened #3336 "The fetch vat rates button should not be a GET method"
### What I'm trying to achieve
Not to allow GET methods to fetch vat rates.

### Steps to reproduce the problem
1. Go to configuration -> Taxes ;
2. The fetch tax rates button, is a GET button.

### What I expected to happen
Get a POST instead of a GET, which is safer against attacks.

### Describe a proposed solution
Drop the button link on the dashboard for a submit button or a modal.

[2018-11-27 09:27] khalibloo opened #3341 "Cannot query field "edges" on type "ProductImage""
### What I'm trying to achieve
I get the error message `Cannot query field "edges" on type "ProductImage"` when I run the following query.
[code]
`edges` is highlighted by the Playground editor. This query ran fine on previous versions of saleor. And the GraphQL schema itself also suggests that `images` should be a list.

### Screenshots
![image](https://user-images.githubusercontent.com/6402969/4

[2018-11-27 09:32] Pacu2 commented on #3341
That's right, images should be a list, as that's not a connection field anymore. We've changed that recently

[2018-11-27 09:38] maarcingebala commented on #3341
Our API is in beta and we're still doing improvements like this. We decided to change some of the connections to simple lists as there is no need to do the pagination where number of related object isn't expected to be high (e.g. product images or variations). See PR #3307 for details.

[2018-11-27 09:38] #3341 closed

[2018-11-27 09:54] johnchendev opened #3342 "Can't Get Saleor To Start In Windows Anaconda"
### What I'm trying to achieve
…
Clone from own repo (started the project in Mac) and run it on my Windows computer by cloning the repo on Github

### Steps to reproduce the problem
1. Cloned Repo (fresh installation of Saleor) via Anaconda Prompt on Windows 10
2. Python manage.py runserver in Anaconda Prompt

### What I expected to happen
…
Project to start as per usual, as per my Mac machine

##

[2018-11-27 10:05] patrys commented on #3342
Did you experience any errors during `pipenv install --dev` (or `python -m pip install -r requirements.txt`, whichever method you used to install the dependencies)? It looks like the binary driver for PostgreSQL is missing.

[2018-11-27 10:14] johnchendev commented on #3342
Hi @patrys , i used python -m pip install -r requirements.txt to install saleor. does that help?

[2018-11-27 10:19] johnchendev commented on #3342
`(DjangoEnv) C:\Users\Owner\Desktop\Django_Projects\urbanradder>python -m pip install -r requirements.txt                  Ignoring uwsgi: markers 'platform_system != "Windows"' don't match your environment                                       Looking in indexes: https://pypi.python.org/simple                                                                        Requirement already satisfied: am

[2018-11-27 10:21] patrys commented on #3342
Please try to uninstall and reinstall the `psycopg2-binary` package and see if that helps (and paste the installer's output in case it doesn't).

[2018-11-27 10:43] patrys opened #3343 "Service (bot) accounts"
Saleor now has a robust API that powers our new dashboard. That API would also make a great integration point (even if currently missing some useful mutations) for third-party services like external stock management or price synchronization. We are however missing a robust method to invoke those APIs in a S2S configuration.

# Service accounts

I propose that we add a new flag to the User model in

[2018-11-27 10:51] patrys commented on #3342
It seems you now have exactly the same problem with the `Pillow` package. I suspect uninstalling and reinstalling `Pillow` will fix that and reveal another problem. This is puzzling.

[2018-11-27 10:54] johnchendev commented on #3342
You're right @patrys haha.

But it seems like it's getting closer - at least we got past the System Checks portion Lol!

Here's the output I got after running the server again:

`(DjangoEnv) C:\Users\Owner\Desktop\Django_Projects\urbanradder>pip install Pillow
Collecting Pillow
  Downloading https://files.pythonhosted.org/packages/bd/39/c76eaf781343162bdb1cf4854cb3bd5947a87ee44363e5acd6c48d69c4a1/

[2018-11-27 11:07] jdivins commented on #2694
@stephenmoloney have you updated something? Can I pick [#2702](https://github.com/mirumee/saleor/pull/2702) commits as start point?
Thank you very much for your help

[2018-11-27 11:10] patrys commented on #3342
It looks like the only thing stopping it from working is a PostgreSQL account. See [point 5 of the instructions](https://saleor.readthedocs.io/en/latest/gettingstarted/installation-windows.html#installation) for reference.

[2018-11-27 11:17] johnchendev commented on #3342
I thought as much.

Created a Postgresql account using PGAdmin and it worked - at least server wise.

Now there's a new error:

`(DjangoEnv) C:\Users\Owner\Desktop\Django_Projects\urbanradder>python manage.py runserver
Performing system checks...

System check identified no issues (0 silenced).
November 27, 2018 - 19:13:25
Django version 2.1.2, using settings 'saleor.settings'
Starting development

[2018-11-27 11:22] patrys commented on #3342
It looks like `npm run build-assets` needs to happen. Please make sure that you've completed all steps from the installation guide 😄

[2018-11-27 11:38] stephenmoloney commented on #2694
Hi @jdivins,

This is my top priority now. Gonna get back to you soon. I just started adding `stable/sentry` to `requirements.yaml` and I'm having to make additions to a fork of that chart to completely automate the setup. I hope to make a PR back to that repo. I still have lots of docs to write, and various other changes to cleanup.

As an intermediate measure, I can create a separate repo with i

[2018-11-27 11:51] johnchendev commented on #3342
@patrys i've tried to run the command, but here's a new error:

`(DjangoEnv) C:\Users\Owner\Desktop\Django_Projects\urbanradder>npm run build-assets

(node:11088) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
i ｢atl｣: Using typescript@3.0.1 from typescript
i ｢atl｣: Using tsconfig.json from C:/Users/Owner/Desktop/Django_Projects/urbanradder/tsconfig.json
i ｢atl｣:

[2018-11-27 11:57] patrys commented on #3342
I'm not sure what to make of this, it seems that—like in the case of psycopg2 and Pillow—some of your Node packages are missing their binaries. You could try to remove the `node_package` directory and reinstall with `npm install`. Also make sure you are running Node version 10 or newer.

[2018-11-27 12:08] johnchendev commented on #3342
Running Node v10.13.0 here. One issue that I did face was that Npm has a lot of issues. Wonder if it has anything to do with that?

[2018-11-27 12:35] johnchendev commented on #3342
@patrys if this helps, running npm run build-assets gives the following output:

`(DjangoEnv) C:\Users\Owner\Desktop\Django_Projects\urbanradder>npm run build-assets

(node:5480) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
i ｢atl｣: Using typescript@3.0.1 from typescript
i ｢atl｣: Using tsconfig.json from C:/Users/Owner/Desktop/Django_Projects/urbanradder/tsconf

[2018-11-27 12:40] NyanKiyoshi commented on #3343
We will soon only be missing #2084 in the whole awesomeness :wink:

[2018-11-27 13:06] #3129 closed

[2018-11-27 13:14] #3294 closed

[2018-11-27 13:14] NyanKiyoshi commented on #3278
Resolved in #3340.

[2018-11-27 13:14] #3278 closed

[2018-11-27 13:15] maarcingebala commented on #3181
Blocked by #3101

[2018-11-27 14:19] #3087 closed

[2018-11-27 15:34] Sshuichi opened #3347 "Redis inside docker"
Is redis running inside docker? If not, can we have it and have it as default in docker setup for production?

[2018-11-27 16:04] arlejeun commented on #3250
Do we have any update on this point? Since we moved away from django-payments, I can no longer checkout successfully.
I'm stuck with order details. Can you please advice?

![image](https://user-images.githubusercontent.com/4977163/49094426-db350280-f22b-11e8-96bc-845c4ed53bab.png)

[2018-11-27 16:09] NyanKiyoshi commented on #3250
@arlejeun seems like your order is already paid.

On a side note, it reminds me that I don't think that adding and enabling gateways is documented. I could probably add it here: http://docs.getsaleor.com/en/latest/gettingstarted/configuration.html for now; while waiting for a proper/ decent solution.

[2018-11-27 16:30] patrys commented on #3347
`Dockerfile` is only for the web container. Each service (web, celery, database, cache) runs in an isolated container.

[2018-11-27 16:32] Sshuichi commented on #3347
So, if I follow this documentation
https://docs.getsaleor.com/en/latest/deployment/docker.html
Does it mean that the container actually runs web,celery, database and cache and I can just use the ENV variables to tell it to use REDIS as cache?
Or how does it work?

[2018-11-27 16:33] NyanKiyoshi commented on #3250
@arlejeun if your question was also about on how to enable payment gateways:

[code]

[2018-11-27 16:34] patrys commented on #3347
These instructions assume that you have PostgreSQL, Redis etc. already running somewhere (which is often the case with AWS RDS, AWS ElastiCache and similar services). If you want to deploy everything then I suggest you use `docker-compose` instead.

I would welcome a change to the documentation to clarify that.

[2018-11-27 16:39] Sshuichi commented on #3347
I'll be happy to contribute to the documentation, but I need to understand how this works first 😅
The documentation states that docker-compose is for development only, to what extent is that correct?
Also, how easily is it to maintain different docker containers that interact with each other, wouldn't be super easier to just bring everything under the same container?

[2018-11-27 16:46] arlejeun commented on #3250
Thanks for the update @NyanKiyoshi!
You're right.. the order is paid and I click on 'Make Payment' but it is no longer redirecting me to the checkout with success page
/en/order/a7c1b475-5f5f-4f32-aaba-d54de308a7a5/checkout-success/

Please help appreciated!

![image](https://user-images.githubusercontent.com/4977163/49097057-9b711980-f231-11e8-8045-d80a6acaf7ff.png)

[2018-11-27 16:49] patrys commented on #3347
The config we distribute (`docker-compose.yml`) is meant for local development as it uses `python manage.py runserver` to start Django. There is a [pull request](https://github.com/mirumee/saleor/pull/3093) however that begins to change that.

If you remove the `command: ...` line from the `web` container you should be able to use the config to build a production environment. Make sure to edit the

[2018-11-27 17:01] johnmclives opened #3348 "Pages with custom template"
Hi guys, I read on Saleor documentation that you can create pages direct from Saleor dashboard.

That part is clear.

However, I get confused when I need to create custom pages with different views etc.

For example, if I need to create custom landing pages that doesn't use the standard template, what then?

Hope someone can enlighten me. Thanks!

[2018-11-28 10:12] maarcingebala commented on #3348
Hey @johnmclives, there is the ability to add static pages from the dashboard and link them in the storefront menus. To do that, go to the Dashboard and take these steps:
1. Go to the "Pages" section > Click on the "plus" button and create a new page.
![image](https://user-images.githubusercontent.com/5421321/49144400-97aac900-f2fd-11e8-8cdd-6009b8ceed65.png)

2. Go to the "Navigation" section > S

[2018-11-28 13:58] #3300 closed

[2018-11-28 15:37] mdnur89 commented on #3313
@jxltom Okay i got it to install but it had  a npm warn optional SKIPPING OPTIONAL DEPENDENCY fsevents@1.2.4 with an unsupported platform. But i'm assuming everything went well for now. Thanks for your help, it's very much appreciated.

[2018-11-28 15:38] #3313 closed

[2018-11-28 15:40] jxltom commented on #3313
@mdnur89 You're welcome 🤝 . That warning is fine which can be safely ignored. I also have that warning too. It won't effect your assets buildings.

[2018-11-28 18:05] mdnur89 commented on #3313
@jxltom And one more thing, after finishing it found 11 vulnerabilities (10 low, 1 high). I invoked npm audit fix and after it said I need to install peer dependencies of babel-loader 7.1.4 wants babel-core 6, awesome-typescript-loaders 5.2.0 wants typescript 2.7 and bootstrap 4.1.2 wants popper.js 1.14.3.. manually. Have you come across anyone with such that the peer dependencies of can't install

[2018-11-28 18:10] khalibloo opened #3354 "Elastic Search missing root certificates"
### What I'm trying to achieve
I'm trying to integrate elastic search into a saleor app on Heroku. Following the instructions on the saleor docs, I ran `heroku run python manage.py search_index --create`.

### Steps to reproduce the problem
1. Deploy a saleor app on heroku
2. Run `heroku addons:create bonsai:sandbox-6 --version=5.4`
3. Run `heroku run python manage.py search_index --create`

### W

[2018-11-28 18:49] NyanKiyoshi commented on #3354
Hi, can you try updating the `elasticsearch` package through `pip`? (`pip install -U elasticsearch`) In the issue you linked, there was a fix release in 6.1.0, Saleor is using 6.0.0 as I can see: https://github.com/mirumee/saleor/blob/d23535ccb32bfad8876c4234c528cf1600d64de7/requirements.txt#L52

That could fix your issue, let us know.

[2018-11-28 18:55] suraj1986 commented on #3274
@patrys Its chrome .I just clone and followed the installation instruction .Only the console i am getting error .Is the babel-loader installation is having some issues ?

[2018-11-28 19:39] khalibloo commented on #3354
I tried with 6.1.1 (there's no 6.1.0 on pip) as well as with the latest, 6.3.1. The issue still persists.

[2018-11-28 21:44] khalibloo commented on #3354
Tried again with a fresh new app. 6.0.0 reproduced the error. Upgrading to 6.1.1 fixed it. I found another issue with uwsgi on windows that I suspect interfered with my earlier attempt. Thanks.

[2018-11-28 22:49] khalibloo opened #3355 "uwsgi build error prevents pipenv locking"
### What I'm trying to achieve
I'm simply trying to lock pipfile dependencies. I know uwsgi has issues with windows, but what puzzles me here is that the pipfile clearly says to only install on non-windows platforms. Yet for whatever reason, uwsgi is still being built. I followed the saleor docs on windows installations and installed GTK+ and Windows Build Tools, but that didn't help.

### Steps t

[2018-11-29 01:02] jxltom commented on #3313
You shouldn't fix them since they are introduced in the dev packages. These dev packages won't be installed in your server in production server at all. So you can safely ignore them.

[2018-11-29 02:29] johnchendev commented on #1470
@h3 , thanks for the guide.

What happens if I'd want to update Saleor when my project is under production?

Do I update Saleor through the upstream on Github, then update the storefront from my host server?

Thanks!

[2018-11-29 04:20] mdnur89 commented on #3313
@jxltom Oh, so the npm audit fix shouldn't have happened. So I can work through as normal. I'll try run the server then, I'll let you know how it went.

[2018-11-29 10:43] adonig commented on #2545
I ran into those problems when trying to use yarn instead of npm. When using npm with node@10 everything works as expected.

[2018-11-29 10:59] #2578 closed

[2018-11-29 11:55] johnchendev commented on #3348
Thanks @maarcingebala , what about changing colors and all that? I read in the documentation that you shouldn't touch the files directly to edit the code. In that case, how would I go about doing it?

[2018-11-29 12:00] johnchendev opened #3357 "Images aren't found in startproject"
### What I'm trying to achieve
Have the Saleor template just as it is

### Steps to reproduce the problem
1. Follow the tutorial to install Saleor

### What I expected to happen
Saleor to be created as per the demo

### Explanation

Hi guys,  just started a fresh install of Saleor in my system.

Everything works fine, except some of the images.

Here's the output that I got.

WARNING django.server

[2018-11-29 12:03] Pacu2 commented on #3357
Have you ran `npm run build-assets`? As it seems like static files were not generated properly

[2018-11-29 12:11] patrys opened #3358 "Write documentation on exposing the locally running instance"
For certain tasks the developer may need to expose a locally running instance of Saleor to the outside world. One such case is payments integration where callbacks happen over web hooks. We should document working with tools such as `ngrok` to make this easier.

[2018-11-29 12:12] johnchendev commented on #3357
Yep, ran it again and same problem. Any idea? @Pacu2

[2018-11-29 12:16] Pacu2 commented on #3357
@johnchendev Were there any errors during this command, or `npm i`?

[2018-11-29 15:20] harinath141 commented on #1005
HI @maarcingebala where i need to remove this window.history.pushState
is it in VariantPicker.js?
if yes i tried but it didn't work.

[2018-11-30 07:32] jxltom commented on #3355
Thanks for sharing!

[2018-11-30 09:37] #3318 closed

[2018-11-30 13:03] #3301 closed

[2018-11-30 13:03] maarcingebala opened #3363 "Missing pagination in Dashboard 2.0 views"
After merging PR #3352 the following changes are required in Dashboard 2.0 to make it fully compatible with required pagination:
- [x] add pagination in the category list view
- [x] add pagination of subcategories in the category details view
- [x] add autocomplete support in the product create/edit views for the following fields: category, collection, product type.

[2018-11-30 13:06] #2546 closed

[2018-11-30 13:34] bykof opened #3364 "Celery in Docker won't start"
### What I'm trying to achieve

Hi guys,
I want to develop saleor with docker-compose

### Steps to reproduce the problem
1. I pulled the project via: `git clone https://github.com/mirumee/saleor.git`.
2. Then I run docker-compose up.
3. Error shows up

### What I expected to happen

That it should work? :D

### Stacktrace
[code]

### Screenshots
![bildschirmfoto 2018-11-30 um 14 31 43](https://us

[2018-11-30 13:39] #3348 closed

[2018-11-30 13:40] #3347 closed

[2018-11-30 13:40] #3335 closed

[2018-11-30 13:44] fowczarek opened #3365 "Add description field to collection in Dashboard2.0"
### What I'm trying to achieve
…

### Describe a proposed solution
...

### Other solutions I've tried and won't work
…

### Screenshots or mockups

[2018-11-30 14:15] devharis commented on #3235
This is making our deployments painful as we need to set it to USD upon migration, then shift to SEK.
Is there a work-around until fixed?

[2018-11-30 14:55] #3305 closed

[2018-11-30 19:32] Sshuichi opened #3368 "How to use stripe with Saleor?"
Hi guys, how to add stripe payment to Saleor?

[2018-11-30 19:52] Pacu2 commented on #3368
Stripe is not currently supported, as we’ve just migrated from Django-payments to our custom solution. We have quite a nice docs on integrating new payment methods into Saleor if you want to handle it

[2018-11-30 20:00] Sshuichi commented on #3368
Alright, thanks!

[2018-11-30 20:00] #3368 closed

[2018-12-01 03:53] sw80386 commented on #3274
I've the same problem. Only way to fix it so that the product detail page can load the variant options is to add a variant with Options ="---" to the variant.  Then it will display all the variant options in the product detail page. I think it is a bug.

[2018-12-01 13:35] Sshuichi opened #3370 "AMP pages"
### What I'm trying to achieve
AMP pages

### Describe a proposed solution
Implement AMP pages
https://www.ampproject.org/

Hey guys, are AMP pages on the roadmap for Saleor? they do boost SEO traffic.

[2018-12-01 13:41] Pacu2 commented on #3370
They're not on the roadmap, as the gain from it for e-commerce businesses is still controversial, and they require rebuilding the whole front end from the ground up.

[2018-12-01 13:43] Sshuichi commented on #3370
Sounds good. PWA is a good thing to have now at least.

[2018-12-01 13:45] Pacu2 commented on #3370
Here's a nice article about AMP for e-commerce
https://thirtybees.com/blog/amp-is-bad-for-e-commerce/

Well-build website won't be much slower than AMP itself unless you throw a dozen affiliates & ads on it.

[2018-12-01 13:47] Sshuichi commented on #3370
Good point. Thanks

[2018-12-01 13:47] #3370 closed

[2018-12-01 14:41] adonig commented on #3235
I managed to fix this by replacing all occurrences of `currency='USD'` with `currency='EUR'` in all existing migrations. Thereafter `python manage.py migrate` successfully went through.

Because I read in another issue that it is necessary, I cascadingly truncated the `order_order` table before. So if the trick above doesn't work, try that (warning: it deletes all existing orders).

[2018-12-01 16:47] Pacu2 commented on #3235
How about replacing “USD” in migrations with “settings.DEFAULT_CURRENCY”? haven’t tried but should work tho

[2018-12-01 16:59] NyanKiyoshi commented on #3235
Well, if I understand correctly, the issue occurs when that value gets changed by the user.

Assuming that the user is setting a environment variable, and not directly editing the `settings.py` file. The workaround would be no to set the environment variable `DEFAULT_CURRENCY`, so, to keep it to `USD` when generating migrations and migrating.

But, then, if the store currency is `BTC` for example,

[2018-12-02 00:01] hairychris commented on #3368
I will be working on this shortly if you want to collaborate.

[2018-12-02 08:55] haoyuc1 opened #3371 "Date filter of order is not working"
### What I'm trying to achieve
I want to show orders of specific date, but when I used date filter, result is same as no filter.

[2018-12-02 12:15] Pacu2 commented on #3371
Just to double check, you mean that issue occurs on the Orders panel, in the dashboard?

[2018-12-02 19:53] NyanKiyoshi commented on #3371
If that's the dashboard, I cannot manage to reproduce the issue. If you could give us a little more information 👍 (steps to reproduce, version, modified Saleor or not).

<div align='center'><img src='https://user-images.githubusercontent.com/6186720/49344166-08dadb00-f674-11e8-970c-a7e7bdfc9dff.png' alt='screenshot'/></div>

[2018-12-02 20:40] hairychris commented on #3368
Working on it here: https://github.com/hairychris/saleor/tree/stripe feel free to pitch in, the basics are there but for some reason the Payments aren't being stored in the database, we then need to write some tests before we can make a pull request.

[2018-12-03 02:17] haoyuc1 commented on #3371
It occurred in dashboard, I will upload a picture.

[2018-12-03 02:30] haoyuc1 commented on #3371
This is image which haven't apply filter
![image](https://user-images.githubusercontent.com/7530207/49349273-b80cb780-f65e-11e8-814a-a9dd4d763361.png)

This is link which applied filter
https://demo.getsaleor.com/dashboard/orders/?id=&name_or_email=&created_0=2018-11-01&created_1=2018-11-30&status=&payment_status=&total_net_0=&total_net_1=&sort_by=

This is image which applied filter
![image](http

[2018-12-03 07:23] khalibloo opened #3373 "Order GraphQL product search results by relevance"
### What I'm trying to achieve
When searching for products/categories using the `query` parameter of the graphql queries, the results are returned in the order of the product IDs rather than by how relevant they are to the search. Since it is not possible to specify what fields to search in, even products whose description fields match the query rank above those whose name fields match the query.

[2018-12-03 11:00] NyanKiyoshi commented on #3371
@haoyuc1 hi, could you give the steps to reproduce and what is your browser/ version + os. As said above, I cannot reproduce your issue.

[2018-12-03 11:02] Pacu2 commented on #3371
I see the other issue here, order date filter is applied, but it's not present in the range filter

[2018-12-03 11:12] haoyuc1 commented on #3371
@NyanKiyoshi I am sorry, maybe my poor English made misunderstanding.
Steps:
Purpose: For example, if I want to show all of orders which place on Nov 9.
1, I go to order page in dashboard.
2, I selected date Nov 9 - Nov 10 in (Placed on) option on filter which on right side of order page.
3, Then, I click FILTER button.
Result: Order page still show all of orders, but it should only show orders wh

[2018-12-03 12:10] NyanKiyoshi commented on #3330
Bump.

[2018-12-03 12:35] jxltom opened #3377 "Refactor jest test to avoid updating storybook snapshot every month"
### What I'm trying to achieve

As in https://github.com/mirumee/saleor/pull/3372, https://github.com/mirumee/saleor/pull/3226, snapshots needs to be updated every month otherwise jest tests will fail. It is better to find a solution for this.

### Describe a proposed solution

Discussions are welcomed!

[2018-12-03 14:12] #3331 closed

[2018-12-03 14:12] #3377 closed

[2018-12-03 15:18] Pacu2 commented on #2564
@pwgryglak could we get back to this please?

cc @diramazioni

[2018-12-03 15:53] wulaaf opened #3379 "Ability to change prices of multiple products and variants"
Use-case:
For stores that change prices on a regular basis

Feature:
1) View/Edit multiple products on the same page
2) View/Edit multiple products by Category/Collection

[2018-12-03 16:21] diramazioni commented on #2564
I was thinking something very simple and intuitive like
![image](https://user-images.githubusercontent.com/682046/49383483-24e48800-f719-11e8-8cc6-5f310a7aa702.png)
![image](https://user-images.githubusercontent.com/682046/49386393-bfe06080-f71f-11e8-85a0-29b7fcfb6121.png)

[2018-12-04 08:14] Pacu2 commented on #1101
@maarcingebala shall we proceed?

[2018-12-04 09:07] dominik-zeglen opened #3383 "Add tax rates per country"
### What I'm trying to achieve
To get info about tax rates in different countries.

### Describe a proposed solution
Change `country` from `String!` to object containing name and tax rates in this query:
[code]

[2018-12-04 09:32] dominik-zeglen commented on #2014
No longer relevant.

[2018-12-04 09:32] #2014 closed

[2018-12-04 09:33] dominik-zeglen commented on #2274
No longer relevant.

[2018-12-04 09:33] #2274 closed

[2018-12-04 09:45] patrys commented on #1101
Or provide a Celery beat config in settings?

[2018-12-04 10:24] fowczarek opened #3384 "Can't delete background_image of a collection in GrapQL"
### What I'm trying to achieve
I want to have a functionality which allows staff to delete background_image of a collection.

[2018-12-05 06:18] khalibloo commented on #3185
Managing customer addresses (other than `defaultShippingAddress` and `defaultBillingAddress`) still require admin permissions. Is this by design? Otherwise, I'd expect mutations like `addressCreate`, `addressUpdate` and `addressDelete` to be accessible to the logged in user.

[2018-12-05 06:32] khalibloo opened #3388 "Extendable User Profile"
### What I'm trying to achieve
To be able to add arbitrary fields to the user profile. The user profile is a good place to store various kinds of information. It makes sense to allow extending it without modifying the underlying models.

### Describe a proposed solution
This could be approached the same way product attributes were designed. We could have a `UserType` to support different classific

[2018-12-05 06:42] khalibloo opened #3389 "Integrity Error when adding categories after populatedb"
### What I'm trying to achieve
Adding categories after having generated sample data with `populatedb`.

### Steps to reproduce the problem
1. Generate sample data with `populatedb` command
2. Add 7 categories from the admin dashboard

### What happened
On the 7th, 8th and 9th categories added, there was an Integrity Error message saying that those `pk`s already existed in the database. This is cau

[2018-12-05 06:56] khalibloo opened #3390 "Product Recommendations"
### What I'm trying to achieve
Offer product recommendations. Recommendations are a normal part of ecommerce and something that saleor will eventually need to look into. https://github.com/mirumee/saleor/issues/1089 appears only to be concerned with if the feature was available, so I opened a new issue to discuss potential solutions.

### Describe a proposed solution
Since recommendations are clos

[2018-12-05 10:45] #3371 closed

[2018-12-05 10:56] maarcingebala commented on #2163
This is no longer relevant, we don't use `DistinctFilterSet` in API anymore.

[2018-12-05 10:56] #2163 closed

[2018-12-05 11:29] maarcingebala opened #3391 "Push GraphQL schema to Apollo Engine automatically"
https://engine.apollographql.com/service/saleor/explorer

We should configure our CI to automatically push schema changes to Apollo Engine so that our API clients can always fetch the latest version.

This issue may be currently blocked by #3387, which in turns blocks updating `apollo-tooling` to the newest version.

[2018-12-05 11:35] maarcingebala commented on #3391
Helpful resources from Apollo: https://www.apollographql.com/docs/platform/integrations.html#check-schema-on-ci

[2018-12-05 14:11] #3284 closed

[2018-12-06 09:42] maarcingebala commented on #3185
Right, we're still missing it. I'll open a new issue for that.

[2018-12-06 09:48] michaljelonek commented on #3389
This is intended behaviour by Postgres/Django<sup>[1](#footnote1)</sup> and since we specify PKs in our fixtures there's not much we can do to fix it on our side. Changing PKs to arbitrarily high numbers would alleviate the issue as it would be harder to reach high PKs, but it doesn't solve the issue, as it would be still technically possible to get such high PKs.

What I would suggest though is t

[2018-12-06 10:37] #3383 closed

[2018-12-06 11:51] stephenmoloney opened #3397 "Sentry doesn't seem to be picking up all exceptions"
### What I'm trying to achieve

Have sentry pick up error messages and exceptions - same as those that would otherwise be emailed to the admin when sentry is not being used.

### Steps to reproduce the problem

Start saleor and have it generate errors

[code]

The error does not appear in sentry.

However, if the raven test is run, the error is picked up in sentry
[code]

### What I expected to ha

[2018-12-06 12:54] maarcingebala commented on #3389
`populatedb` is used only for local development, but it looks like a bug if you run the script, tries to add a subcategory in the dashboard and it breaks. Would that be a good idea to extend `populatedb` and reset DB sequences after each run?

[2018-12-06 14:31] dominik-zeglen opened #3400 "Product types should be searchable"
### What I'm trying to achieve
In #3363 it was pointed out that product type field should use autocomplete rather than fetch all product types automatically. To achieve that, `productTypes` query needs an additional argument `query`, so the API consumer would be able to search it by name fragment.

[2018-12-06 14:33] maarcingebala commented on #3373
Related #3400

[2018-12-06 15:02] michaljelonek commented on #3389
@maarcingebala personally I don't see why not, wouldn't do us any harm. Although might be wise to control it with a flag to at least be able turn it off in case it breaks in some random situation I can't think of right now. I could go ahead and add it if we agree on that then?

[2018-12-06 15:07] maarcingebala commented on #3389
I'd give it a try. I'd enable it by default and have a flag to optionally disable this behavior.

[2018-12-06 15:59] #3306 closed

[2018-12-06 15:59] #3317 closed

[2018-12-06 16:42] maarcingebala opened #3403 "Address management for authenticated customers"
Currently, all address-related mutations are available only to staff users (we require specific permissions to use them). We should expose mutations for regular registered customers to change their addresses.

[2018-12-06 18:44] patrys opened #3404 "Adopt prettier for older JS files"
We currently have two contradicting styles in the same repository. Typescript uses `prettier` but the old storefront code follows a different set of rules. Let's make `prettier` the only accepted style and update our JS files to match it.

[2018-12-07 08:24] fowczarek opened #3405 "Display warning when confirming the finalisation of an order without shipping address."
### What I'm trying to achieve
In pull request #3396, added the ability to create an order without pinning it to the customer in dashboard 2.0 by the staff user. We should display a warning when confirming the finalisation of an order without shipping address.
### Describe a proposed solution

### Screenshots or mockups
![image](https://user-images.githubusercontent.com/43955230/49636010-b0079b80-

[2018-12-07 13:23] #3389 closed

[2018-12-08 04:13] jxltom opened #3414 "Missing release note for 2.0"
I remember there is release note created in Github here https://github.com/mirumee/saleor/releases for 2.0 release. I would like to read the changelog from it, but now it is missing.

Could I have it getting back? Thanks

[2018-12-08 05:45] maarcingebala commented on #3414
Should be fine now: https://github.com/mirumee/saleor/releases/tag/2.0.0.

[2018-12-08 05:45] #3414 closed

[2018-12-08 06:08] jxltom commented on #3414
Thanks!

[2018-12-08 15:33] stephenmoloney commented on #3397
@jxltom
I'm not great with `python/django`, can you give me some simple action I can take to raise an exception to test this?

[2018-12-08 17:49] bingimar opened #3415 "Bridge between Saleor and Navision"
Has anyone built a bridge between Navision and Saleor?

If not please let me know if you want to collaborate on this project.

- Some processes need to live in Nav
  - Shipping
  - Billing
  - Order status updates
  - Customer info
  - Customer discounts?

[2018-12-08 21:58] patrys commented on #3415
I assume you mean Dynamics NAV? https://docs.microsoft.com/en-us/dynamics-nav/fin-graph/index

[2018-12-08 23:17] bingimar commented on #3415
yeah, they change the name of it every full moon

[2018-12-09 02:36] jxltom commented on #3397
I mean add ```raise Exception('anyexception')``` in any of saleor's view function and accessing it from the browser, then sentry will collect the exceptions.

[2018-12-09 16:15] ayushgangrade11 opened #3416 "Uploading Files to S3"
### What I'm trying to achieve
… Trying to deploy heroku app

### Steps to reproduce the problem
1. set config vars to use amazon s3 as static files server
2. Deploy your app
3. Since Npm rebuilds the prod packages hence prod hash changes ie django is not able to find the static files with updated hash.
4. In order to upload those files I have to heroku run python manage.py collectstatic everytime

[2018-12-10 01:37] jxltom commented on #3416
If the frontend code doesn't change, the hash of assets shouldn't change. So if the the hash changes, it means your frontend code is changed and you have to upload it, othewise you website may not function well.

So are you sure  you hashes is changed though you didn't change of  your saleor code?

[2018-12-10 06:33] selvara80 opened #3419 "Dashboard-next- Could not create product with Product attributes"
### What I'm trying to achieve
Create a new product based on a Product-Type, which has Product Attribute.
…

### Steps to reproduce the problem
1. Create a new product-type(Say.,  X) which has product attribute.
2. Try Create a new product for the product-type (X)
3.While using the drop-down and trying to select the product-type (X), application opens up a blank page and fails to load

### What I

[2018-12-10 06:42] selvara80 opened #3420 "Dashboard-next- Could not create product even WITHOUT Product attributes"
### What I'm trying to achieve
Create a new product based on a Product-Type, which does NOT have any Product Attribute.

…

### Steps to reproduce the problem
1. Create a new simple product-type(Say., X). This does not have any product or variant attributes
2. Try create a new Product based on product-type (X)
3.Able to select X from the product-type drop-down
4.However upon SAVE action, this tran

[2018-12-10 09:00] ayushgangrade11 commented on #3416
Hi ...
I am sure that my Frontend are same
but I deploy my app it runs the node build everytime .... and it is almost about to eat up all the allowed put requests that I have for free in my s3 bucket ...

Is it possible to change this using a config ?

[2018-12-10 09:03] jxltom commented on #3416
Yeah, it will run the build everytime for sure. But the generated hash should be same. Are you sure the asset names are different?

[2018-12-10 10:51] Pacu2 opened #3421 "Product list filter renders price range filter with wrong name"
We have a custom solution for rendering price filter on the storefront, in the product list filter (on category/collection).

We are rendering the price range filter input names with `_0`/`_1` suffix, where `django-filters` requires it to be `_min` and `_max`

similar was done in the dashboard #3371

Simple change from ` name="{{ field.name }}_0"` to ` name="{{ field.name }}_min"` is needed. Same

[2018-12-10 11:43] #3269 closed

[2018-12-10 11:43] #3384 closed

[2018-12-10 11:52] #3363 closed

[2018-12-10 12:33] maarcingebala opened #3422 "Extract payment gateways to separate libraries"
With the release of Saleor 2.0 we managed to drop `django-payments` from Saleor and started to shift towards the new payment modules - `saleor.payments`. However, having them in Saleor repository is an intermediate solution. Our ultimate goal for handling payments is to have all providers abstracted to external libraries.

Currently, we have two gateways (Braintree, Razorpay) plus another one is b

[2018-12-10 12:48] jxltom commented on #3422
How about a library named ```saleor-payments```? It is fine to have standalone repository for each payment, but these payments have so much in common, such as error message, public APIs, etc. Putting them into a same repo will make it easier to share common modules/functions/fixtures, no matter for the gateway itself or the tests.

[2018-12-10 13:14] maarcingebala commented on #3257
- [ ] update `thumbnailUrl` field to use `ProductImage` type
- [ ] add `background_image_alt` text field to `Collection` and `Category` models and expose it in API (queries and mutations)
- [ ] add `alt` text field in the `Image` type

[2018-12-10 13:22] michaljelonek opened #3423 "Improve order details to contain payment information (preauth, captured)"
### What I'm trying to achieve
The old dashboard contained information about the payment status, in particular how much was pre-authorised and captured. This information is missing in new dashboard and if the full amount wasn't captured, then it makes it pretty hard to know how much to refund.

### Screenshots or mockups
![image](https://user-images.githubusercontent.com/7791528/49735134-a478d680-

[2018-12-10 13:53] dominik-zeglen opened #3424 "Improve form leaving prompt display condition"
At this moment, `<ConfirmFormLeaveDialog />` is displayed at each URL change if form data is modified. This causes problems when creating eg. products, displaying prompt before navigating to new product's details view, or adding attributes to new product type.

[2018-12-10 14:58] dominik-zeglen commented on #3420
Sorry, but I am unable to reproduce this. Do you work on the latest master branch?

[2018-12-10 15:06] dominik-zeglen commented on #3419
Same as #3420 - I couldn't reproduce this problem.

[2018-12-10 18:20] cprinos opened #3428 "decimal places"

[2018-12-10 18:25] cprinos commented on #3428
I can't update price if a decimal is specified:

works
`mutation {
  productUpdate(id: "UHJvZHVjdDoz", input: { price: 4}) {
    errors {
      field
      message
    }
    product {
     name
     description
     price {
      currency
      amount
      localized
    }
    }
  }
}
`

fails:
`mutation {
  productUpdate(id: "UHJvZHVjdDoz", input: { price: 4.1}) {
    errors {
      field
      m

[2018-12-10 22:39] cprinos commented on #3428
note, that it does appear to work if the price value is set using a variable whose type is Decimal! but the literal forms of the query don't handle the conversion

[2018-12-11 06:35] ayushgangrade11 commented on #3416
I agree ... the hash ideally shouldn't change at all ... However I found a workaround ... I have removed heroku postbuild & now going forward when I have changes I will upload them manually to my s3 just to make sure I am not running out of free limit quota ....

was thinking about whitenoise in b/w but I am not sure if it will increase my response time a lot ... ?

[2018-12-11 06:40] jxltom commented on #3416
Another solution is writing your own ```collectstatic``` command which checks file md5 to determin upload it or not. In this way, even the hashes change, same file won't be uploaded twice since they didn't change at all and having same md5.

CDN is better than whitenoise since it also prevent ddos attacks. But whitenoise is also fine if security is not a priority concern.

[2018-12-11 06:45] ayushgangrade11 commented on #3416
Thanks jxltom :+1:

[2018-12-11 06:45] #3416 closed

[2018-12-11 06:47] jxltom commented on #3416
Glad to help. To be honest, I'm very curious about why the hashes are changing... But these workarouds will solve your issue any way. :smile:

[2018-12-11 08:45] maarcingebala commented on #3428
We're somehow using these mutations in the Dashboard 2.0. @dominik-zeglen how do we pass decimals from UI to mutations? Or it doesn't work in UI as well 🤔 ?

[2018-12-11 09:07] maarcingebala commented on #3422
One problem that we have to deal with is the multitude of payment gateways available on the market. We cannot guarantee that we'll be able to maintain all of them and merging them to Saleor (or to `saleor-payments`) would impose this burden on us. That's one of the problems we had with `django-payments`. As a result, some of the more "exotic" payments gateways were quickly getting outdated and we

[2018-12-11 09:35] Pacu2 commented on #3422
I think we should also consider versioning between saleor and the gateways, as payments implementation might evolve at some point.

[2018-12-11 10:06] dominik-zeglen commented on #3428
We're sending them as strings.

[2018-12-11 10:20] Pacu2 opened #3430 "Update python package on heroku to 3.6.7"
```Python has released a security update! Please consider upgrading to python-3.6.7```

## TODO
1. update `runtime.txt file`

[2018-12-11 10:47] Pacu2 commented on #3187
Resolved by now

[2018-12-11 10:47] #3187 closed

[2018-12-11 13:03] ayushgangrade11 commented on #3416
Time is little bit a constraint for me as of now since I am alone working on this project .... Lets do a deep dive once I am free ... Hopefully.. by the end of This month. :)

[2018-12-11 13:06] Pacu2 commented on #3430
Had some troubles installing `uwsgi` on python 3.6.7 and 3.7.1 on Heroku, please ensure it's working properly after the upgrade.

Had no time to debug it so rolled back to 3.6.6 for now.

[2018-12-11 13:22] jxltom commented on #3416
Of course, no rush for it :D

[2018-12-11 15:05] dominik-zeglen opened #3432 "Cannot update staff member's permissions"
### What I'm trying to achieve
To add or remove permissions from a staff member.

### Steps to reproduce the problem
1. Execute the following query
[code]
2. Get an error:
[code]

### What I expected to happen
To properly add IMPERSONATE_USERS permission.

[2018-12-11 16:54] maarcingebala opened #3436 "Improve generating example shipping methods"
In the `populatedb` script we should change the way how we generate example shipping method. [In this line](https://github.com/mirumee/saleor/blob/master/saleor/core/utils/random_data.py#L441) we generate `minimum_order_price` at random for each shipping method. This may result in a situation where all shipping methods for a particular country have high minimum price, and as a result no shipping m

[2018-12-11 16:57] maarcingebala commented on #3274
Does this issue still occur?

[2018-12-11 16:57] maarcingebala commented on #3308
Does this issue still occur?

[2018-12-11 16:58] sw80386 commented on #3274
Yes it does .  I think it is a bug.

On Dec 11, 2018, at 11:57 AM, Marcin Gębala <notifications@github.com<mailto:notifications@github.com>> wrote:

Does this issue still occur?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/mirumee/saleor/issues/3274#issuecomment-446277715>, or mute the thread<https://github.com/notifications/un